<div class="col-3">
      <div class="card h-100" style="width: 18rem;">
          <h3>{{this.name}}</h3>
              <div class="card-body">
                  <p class="card-title">Propellers: {{this.propellers}}</p>
                  <p class="card-text"> Max. Speed: {{this.maxSpeed}}</p>
                  <a href="/drones/{{this.id}}/edit" class="btn btn-primary">Edit</a>
               </div>
       </div>
</div>