<div class='form'>
  <label for='name'>Name of Drone</label>
  <input type='text' name='name' value='{{name}}' required />
</div>
<div class='form'>
  <label for='propellers'>Propellers</label>
  <input type='number' name='propellers' value='{{propellers}}' required />
</div>
<div class='form'>
  <label for='maxSpeed'>Maximum Speed</label>
  <input type='number' name='maxSpeed' value='{{maxSpeed}}' required />
</div>
<div class='form'>
  <input type='submit' value='Save Drone' />
</div>