<header class="mb-auto">
  <div>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/drones">Drones</a>
      <a class="nav-link" href="/drones/create">New drone</a>
    </nav>
  </div>
</header>