<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ironphones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/smartphones">Smartphones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/manufacturers">Fabricantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/smartphones/create">Crea un Smartphones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>