<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/drones" class="nav-link px-2 text-white">All Drones</a></li>
          <li><a href="/drones/new" class="nav-link px-2 text-white">New Drone</a></li>
        </ul>
      </div>
    </div>
</header>