<form action="/drones/create" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Model name</label>
        <input class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3"> 
        <label for="propellers" class="form-label">Number of propellers</label>
         <input class="form-control" id="propellers" name="propellers"/>
    </div>
    <div class="mb-3"> 
        <label for="maxSpeed" class="form-label">Top speed</label>
        <input class="form-control" id="maxSpeed" name="maxSpeed"/>
    </div>
    <button type="submit" class="btn btn-primary">Add to list</button>
</form>