<h1 class="drone-form-title">Create a new drone</h1>
<form action="/drones/create" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="drone-input" id="name" name="name" placeholder="Technical name of the drone">
    </div>
    <div class="mb-3">
      <label for="propellers" class="form-label">Proppellers</label>
      <input type="number" class="drone-input" id="propellers" name="propellers" placeholder="Number of proppellers">
    </div>
    <div class="mb-3">
      <label for="maxspeed" class="form-label">Max Speed</label>
      <input type="text" class="drone-input" id="maxspeed" name="maxSpeed" placeholder="Max speed reached by the drone in m/s">
    </div>
    <button type="submit" class="btn btn-success">Create <i class="las la-plus-circle"></i></button>
</form>
