<h1>Error!</h1>
<h2>There was an error on the server! Check the console!</h2>
<div class="text-center">
    <img src="images/error.png" alt="M.I.A" height="200px">
    <h1><b>Error!</b></h1>
    <p>Unfortunately the server is not working. Please refresh the page or try again later.</p>
    <button onClick="window.location.reload();" class="btn btn-dark mt-4">Refresh Page</button>
</div>