<div class="container">
  <div class="card text-center">
    <div class="card-body">
      <h2 class="card-title" style="margin-bottom: 50px">{{title}}</h2>
      <h5 class="card-text" style="margin-bottom: 50px">Welcome to
        {{title}}</h5>
      <hr />
      <a class="btn btn-secondary" href="/drones" style="padding: 20px;">Go to
        check the Drones-list</a>
    </div>
    <div class="card-footer text-muted">
      Ironhacker-Yanxia Wu
    </div>
  </div>
</div>