<div class="text-center">
    <img src="images/drone.png" height="250px" alt="">
    <h1><b>{{title}}</b></h1>
    <p>Welcome to {{title}}, by Inés & Manuel</p>
    <a href="/drones/{{_id}}" class="btn btn-dark mt-4">Go to drones <i class="las la-chevron-circle-right"></i></a>
</div>
