<div class="container-fluid d-flex flex-column ">
    <div>
        <nav class="navbar p-2">
            <a href=""><h1>{{title}}</h1></a>
            <a class="navbar-brand" href="#"><p>Welcome to {{title}}</p></a>
        </nav>
    </div>

    <div class="p-2 d-flex justify-content-center">
        
             <button class="btn check-btn">
                <a  href="/drones">Check out the drones</a>
            </button>
        
    </div>
</div>
