<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-primary" href="/drones" role="button">Show all drones</a>
<a class="btn btn-primary" href="/drones/create" role="button">Create a drone</a>