<div class="d-flex flex-column">
    <h1 class="my-3">LAB | Basic CRUD with Drones</h1>
    <img src="../images/amz.jpg" alt="">
    <a href="drones" class="btn btn-light text-center mt-2">Drone list</a>
    <a href="drones/create" class="btn btn-light text-center mt-2 mb-5">Create Drone</a>
</div>