<div class="container">
    <h1 class="fw-bold m-5 text-center fs-1">The best drones</h1>
    <div class="row">
        <div class="col-md-6">
            <figure class="figure">
                <img src="../images/drone.jpg" width="500px" height="300px" alt="drone">
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="figure">
                <img src="../images/drone2.jpg" width="500px" height="300px" alt="drone-2">
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5">
            <figure class="figure">
                <img src="../images/drone3.jpg" width="500px" height="300px" alt="drone-3">
            </figure>
        </div>
        <div class="col-md-6 mt-5">
            <figure class="figure">
                <img src="../images/drone4.jpg" width="500px" height="300px" alt="drone-4">
            </figure>
        </div>
    </div>
</div>