<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">

            <h1><b>CRUDRONES</b></h1>
            <p>Welcome to the ultimate drone list!</p>
            <hr>
            <p>Our app is pretty ugly right now, sorry. Front End team is on vacation.</p>
            <hr>
            <p>An unmanned aerial vehicle (UAV), commonly known as a drone, is an aircraft without any human pilot,
                crew, or passengers on board. UAVs were originally developed through the twentieth century for military
                missions too "dull,
                dirty or dangerous" for humans, and by the twenty-first, they had become essential assets to most
                militaries.
                As control technologies improved and costs fell, their use expanded to many non-military applications.
                These
                include aerial photography, precision agriculture, forest fire monitoring,[3] river monitoring,[4][5]
                environmental
                monitoring, policing and surveillance, infrastructure inspections, smuggling,[10] product deliveries,
                entertainment, and drone racing.</p>
            <hr>

        </div>

    </div>
</div>