<main class="px-3">
    <h1>{{title}}</h1>
    <p class="lead">Welcome to {{title}}</p><br>
    <p class="lead">
        <a href="/drones" class="btn btn-lg btn-secondary text-dark fw-bold border-white bg-white">Drones</a>
    </p>
</main>