<main class="frontpage">
    <div class="intro">
        <h1 class="display-1">{{appTitle}}</h1>
        <h2>Welcome to {{appTitle}}</h2>
        <p>the most badass UAV database</p>
        <a href="/drones" class="btn btn-lg btn-outline-warning"> DATABASE</a>


    </div>
</main>