<div>
    <h1>{{title}}</h1></div>
<div>
<p>Welcome to {{title}}</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/s3iML1HgVGI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>
<p>Please wait for the video above to load.</p>
<div>
</div>

