<div class="home-page d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-light">{{title}}</h1>
    <p class="text-light">Welcome to {{title}}</p>
    <a href="/drones" class="btn btn-danger">See Drones</a>
</div>