<div class="container">
    <div class="indexText">
        <h1 class="titleH1">{{title}}</h1>
        <h2 class="titleh2">Welcome to {{title}}</h2>

        <p class="titleP">Click here for the <a href="/drones/list" class="indexA">Drones List!</a></p>
    </div>
</div>