
<div class="container">
    <div class="col">
        <h1>{{title}}</h1>
        
        <p>
            <img src="/images/drone-main.svg" class="main-image" alt="It's a bird - it's a plane... no, it's a drone!">
            Welcome to {{title}}       
        </p>

       
    </div>
</div>