<div class="index-div">
    <h1>{{appTitle}}</h1>
    
    <a class="index-link" href="/drones">Lleva a drones</a>
    
    <a class="index-link" href="/drones/create">Lleva a formulario drones</a>
</div>


