<h1>{{title}}</h1>
<h3>Compilation of all the drones that have been commercialized</h3>

<a class="btn btn-primary" href="/drones/">Access to the list of drones</a>
<a class="btn btn-info" href="/drones/create">Register a new drone model</a>
