<div class="contaier">

    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <a href="/drones" class="btn btn-dark"> Ir a Drones </a>
    <a href="/drones/create" class="btn btn-dark"> Crear Dron </a>

</div>