<a href="/drones" class="btn btn-primary">Check our dornes</a>
<img class="fondo" src="https://tec.mx/sites/default/files/styles/header_full/public/2020-03/drones-futuro-por-expertos-del-tec-monterrey.jpg ">
