<div class="container">
    <h1>{{title}}</h1>
    <p>Drones</p>
    <hr>
    <a href="/drones" class="btn btn-primary">All Drones</a>
    <a href="/drones/create" class="btn btn-warning">Creates new drone</a>
</div>