<section class="home">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/150ef84c5f79da0f3cee8788b203e5b9@1x.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/c8e040836fe9df5eb604bdb28e7212fa.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/aca3826ce4817e48255a090ecd567c2f.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <article>
        <h1>DJI's MAVIC 3</h1>
        <a href="/drones">See more</a>
    </article>
</section>