<div class="container">
    <h1>Welcome to your Drone Page</h1>
</div>



<img src="/images/dron-home-page.png" class="mx-auto d-block beer-img" alt="dronimage">
<div class="d-grid gap-2 col-3 mx-auto">
    <a href="/drones/create-form" class="btn btn-dark">Crear un Dron</a>
    <a href="/drones/list" class="btn btn-dark">Mira el listado de Drones</a>
</div>