<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="post" action="/create/drone">
    <h1>create drone</h1>
    <p>
        <label for="">name</label>
        <input type="text" name="name">
    </p>
    <p>
        <label for="">propellers</label>
        <input type="number" value="propellers">
    </p>
    <p>
        <label for="">max speed</labl>
        <input type="number" value="max speed">
    </p>
    <button>create</button>
</form>
