<section class="header">
    <divc class="title-wrapper">
        <h1 class="sweet-title">
            <span data-text="Sweet">Flipping</span>
            <span data-text="Stuff">Drones</span>
        </h1>
        <span class="top-title">Get me all the</span>
        <span class="bottom-title">You can find</span>
        </div>
</section>