<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

    {{!-- {{Add the link that goes to /drones route in the layout.hbs file to easier navigate to the list of drones.}} --}}
    <a href="drones/">Go to Drones</a>

    
