<div class="container">

    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <h1>DRONILANDIA :D</h1>
            <p>Welcome to DRONILANDIA</p>
            <a href="/drones" class="btn btn-dark">Lista De Drones</a>

        </div>
        <div class="col-md-6">
            <img src="/images/dron.jpg" alt="drone" style="width: 60%;">
        </div>
    </div>
</div>