<div class="home">
<div class="img-background">
    <img src="/images/bgdrone.jpg" alt="image background">
</div>
<div class="hometext">
<h1 class="textbody">{{title}}</h1>
<p class="textbody">Welcome to {{title}}</p>
</div>
</div>
