<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 d-flex flex-column align-items-center">
            <h1 class="home-title">{{appTitle}}</h1>
            <div class="home-p">
                <p>Bienvenido a {{appTitle}}</p>
                <p>Crea, edita y borra tus propios drones</p>
            </div>
        </div>
    </div>
</div>