 
   <nav class="navbar navbar-dark bg-dark">
<h1>{{title}} 🚀 </h1>
</nav>
<div class="container">
 
<p style="color:lightblue">Welcome  Ironhacker to {{title}} </p>
<form action="/drones" method="GET"><button type="submit"class="btn btn-outline-warning"<a href="/drones"></a>DRONES</button></form>
<br>
<form action="/drones/create" method="GET"><button type="submit"class="btn btn-outline-warning"<a href="/drones/create"></a>CREATE A DRONE</button></form>
<nav class="navbar navbar-dark bg-dark">

</nav>
</div>