<h1>{{appTitle}}</h1>
<hr>
<p>Bienvenidos/as a la página de Drones</p>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../images/drone1.jpg" alt="Drone1">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../images/drone2.jpg" alt="Drone2">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../images/drone3.jpg" alt="Drone3">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../images/drone4.jpg" alt="Drone4">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../images/drone5.jpg" alt="Drone5">
        </div>
    </div>
</div>
</div>


<a class="btn btn-warning"" href=" /drones" role="button">Ir a la lista</a>