<div class="background-home">
        <div  class="home-content">
          <h1 class="home-content__title">PREPARE TO TAKE FLY</h1>
          <p class="home-content__subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates unde illum dolor ducimus magni aspernatur.</p>
          <div class="home-content__btns">
            <a href="/drones/create" class="home-content__btn-create">Create your drone</a>
            <a href="/drones" class="home-content__btn-drones">See all drones</a>
          </div>
          
        </div>
        
        <div class="home-image">
          <img src="../images/drone-home.png" alt="drone" class="home-image__drone">
        </div>
</div>
