<section class="container">

  <div class="card">

    <h1>{{title}}</h1>
    <div class="card-title">
      <button><a href="/drones" class="card-text">Check the Drones!</a></button>
      <button><a href="/create-form" class="card-text">Create a new Drone!</a></button>
    </div>
  </div>

</section>