<div class="container">

    <h1>{{appTitle}} 🚀</h1>
    <p>Bienvenid@s al primer CRUD del Bootcamp huh!</p>
    <hr>
    <a href="/drones" class="btn btn-dark">Ir al listado</a>
    <hr>
    <a href="/drones/create" class="btn btn-dark">Crear Dron</a>
</div>