<div id="index-div">
    <h1>IronDrone</h1>
    <p>Welcome to IronDrone, your go-to page to know more about drones</p>
    <div id="index-btns">
        <a href="/drones">List of Drones</a>
        <a href="/drones/create">Create Drone</a>
    </div>
</div>
