<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="./images/drone-background.jpeg" alt="drone image">
        </div>
    </div>

</div>

