<div class="container text-center pt-5 mt-5">
  <div class="row pb-5">
    <h1>Welcome</h1>
  </div>
  <div class="row">
    <div class="col">
      <img src="/images/droneLogo.svg" alt="" width="400px" />
    </div>
  </div>
</div>