
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:py-16 lg:px-8 lg:py-20">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Te gustan los drones?</span>
      <span class="block text-indigo-600">Aquí puedes encontrar una lista de los mejores.</span>
    </h2>
    <div class="mt-8 flex">
      <div class="inline-flex rounded-md shadow">
        <a href="/drones" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"> Adelante </a>
      </div>
    </div>
  </div>
</div>
