
<h1>DRONES 🚀</h1>
<div class="container">
<form action="/drones" method="GET"><button type="submit"class="btn btn-outline-warning">
    <a href="/drones"></a>DRONES</button></form>
<br>
<form action="/drones/create" method="GET"><button type="submit"class="btn btn-outline-warning"> 
    <a href="/drones/create"></a>CREATE A DRONE</button></form>
</div> 