<div class='container home-conainer'>
  <h1 class='display-2'>Welcome!</h1>
  <p class='lead mb-5'>
    To
    {{title}}
  </p>
  <div class='d-grid'>
    <a href='/drones' type='button' class='btn btn-lg alert-success'>Drones</a>
  </div>
</div>