<h1>Welcome to {{title}}</h1>

<div class="text-center">
  <img src="images/images.jpeg" class="rounded" alt="drone picture" />
  <br />
  <br />
  <a href="/drones" class="btn btn-primary">go to drone page</a>
</div>