   <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="slider_text text-center justify-content-center">
                            <p>For Personal & Business</p>
                            <h3>Global Logistic Service
                                For Business</h3>
                                <a class="boxed-btn3" href="/drones">Check your drones</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>