<div class="d-flex align-items-center flex-column bd-highlight mb-3">
<h1 class="d-inline-flex p-2 bd-highlight"  >Welcome to {{title}}</h1>
<img src="/images/drone.jpeg" class="d-inline-flex p-2 bd-highlight"  alt="image-drone">
</div>