<div class="main d-flex">
    <p>Welcome to {{appTitle}}</p>
</div>
<div class="d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-dark index-button">
        <a href="/drones">Let's check our fantastic drones!</a>
    </button>
</div>
<video class="flying" src="../videos/flying.mp4" muted autoplay loop></video>