
<div class="container index-cont">
    <div class="row">
      <div class="col">
        <img class="main-img" src="/images/main-drone.png" alt="drnz">
      </div>
      <div class="col">
        <h1>Welcome <br>to {{title}}</h1>
      </div>
    </div>
</div>
