
<div class="container">

    <h1>DRONE LAND (( or something like that ...))</h1>
    <p> Descubre, crea, pinta y colorea drones ... procura no eliminar muchos :D </p>

    <hr>
    
    <a href="/drones" class="btn btn-dark">DRONE LIST</a>

    <hr>
           
    <img src="http://www.revistavivienda.com.ar/wp-content/uploads/dron1.jpg" class="index-image" width= "100%" alt="superdrone">

   

</div>