<h1 class="text-center">{{title}}</h1>
<p class="text-center">Welcome to {{title}}</p>

<p class="text-center">
    <a href="/drones" class="btn btn-dark">Go to drones</a>
</p>

<p class="text-center">
    <a href="/drones/create" class="btn btn-dark">Create new drone</a>
</p>