<div class="container index">
    <div class="row text-center ">
        <div class="col-12 ">
            <h1>{{appTitle}}</h1>
            <p>Welcome to {{appTitle}}</p>

            <a class="btn btn-outline-dark" role="button" href="/drones">Available Drones</a>
        </div>
    </div>



    <div class="text-center">
        <img src="../images/drone.png" alt="drone image">
    </div>

</div>