<div class="container" >
    
    <div class="intro">
        <figure>
            <img src="../images/paper-plane.png" alt="paper plane">
        </figure>
    <h1>Conoce nuestros cacharros voladores</h1>
    <a href="/drones"> Entra</a>
    </div>
</div>