<div class="home-page">
    <div class="row justify-content-center">
        <div class="col-md-6 home-button">
            <h1 class="main-title">Bienvenido a tu página de drones</h1>
            <a href="/drones" class="btn btn-dark home-real-button">Compra un Dron pls...</a>
        </div>
    </div>
</div>