<div class="index-container">
    <div class="inner-index-container">
        <h1>Welcome to the<br>Dutch Drone Club</h1>
        <button onclick="location.href='/drones/list'" type="button" class="btn btn-light index-btn">Check all
            drones!</button>
    </div>
</div>
</div>