<div class="d-flex justify-content-end">
    <div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">{{title}}</div>
  <div class="card-body">
    <h5 class="card-title">Welcome to {{title}}</h5>
    <p class="card-text">The largest drones database ever</p>
    <a href="/drones" class="btn btn-info">Check our drones list!</a>
  </div>
</div>