<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <img class="imagen" src="https://www.myglobaltruck.com/wp-content/uploads/2020/11/Drones_mensajeros_MGT.jpg"
        alt="drone">
</div>