<main class="landing__wrapper">
    <h1 class="landing__h1">Puffy Little Drones</h1>
    <div class="landing__content">
        <p>Hello. Do you like to CRUD drones?</p>
        <div class="btn__wrapper">
            <a href="../drones" class="btn__link"><button class="crud_drones">CRUD drones</button></a>
            <a href="../drones/create" class="create_btn__link"><button class="crud_drones create_btn">Add drone</button></a>
        </div>
    </div>
</main>
