<section id='home'><h1>{{title}}</h1>
<p>Welcome to {{title}}, you're drone database. Here you will be able to keep count of how many drones you have, and forget how much money they cost you!</p>
</section>
