<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to "LA FANTASÍA CARIBEÑA DE LOS DRONES"</p>
</div>
<div class="container d-flex">

    <a href="/drones" class="btn btn-dark mb-5">See our fantasy Drones</a>

</div>