<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url('./../images/background_drone.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .home {
            margin-top: 400px;
        }
    </style>
</head>

<body>

</body>

</html>
<div class="d-grid gap-2 col-6 mx-auto justify-content-center home">
    <h1>¡¡Check all our drones!!</h1>
    <a href="/drones" class="btn btn-dark btn-lg">Drones list</a>
</div>