<h1>Hola Yani Bienvenida a nuestra pagina de Drones</h1>
<h3>Ya se que no se ve bonita, pero es semana final y no tengo tiempo para terminar :(</h3>
<a href="/drones">Click aqui para ver los drones</a>
<br>
<a href="/drones/create">Click aqui para crear drones</a>