<div id="homePage" class="jumbotron">
  <h1 class="display-4"><img src="/images/fly.png" alt="Logo DRNZ">{{title}}</h1>
  <p class="lead">Welcome to {{title}}</p>
  <p>Manage and keep track of your drones collection!</p>
  <div>
  <a id="seeDroneBtn" class="btn btn-dark btn-lg" href="/drones" role="button">See all my drones</a>
  <a id="addDroneBtn" class="btn btn-outline-dark btn-lg" href="/drones/create" role="button">Add a drone</a>
  </div>
</div>
