<div class="page-wrapper">
    <div class="drones-wrapper">
        <img class="sky" src="images/clear-blue-sky.jpeg" alt="sky">
        <div class="drones-wrapper main-title">
            <div class="drones main-title">

<a class="hover-title" href="http://localhost:3000/drones"><h1 class="main-head-title">{{title}}</h1></a>
{{!-- <h1 > Welcome to {{title}}</h1> --}}
<p>Drnz is a web service for multimillionaires in need of top notch drones for their professional or leisure activites. Espionage, express delivery, site-seeing from the couch, anything becomes possible with Drnz.  </p>
            </div>
        </div>
    </div>
</div>