<div class="bg-image">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-center pt-5 fw-bolder">LAB EXPRESS DRONES</h1>
    <a href="/drones" class="btn btn-primary mt-5 p-2 fw-bolder" role="button">See all the Drones</a>
  </div>
</div>