<div class="home">

    <div class="container">
        <h1 class="hola">¡Hola Dron Pepito!</h1>
        <div class="button-home">
            <a href="/drones" class="btn btn-lg btn-dark">Ver drones</a>
        </div>
    </div>

</div>