<h1 class="title-heading">{{title}}</h1>
<p class="title-paragraph">Welcome to {{title}}</p>
<img class="title-image" src="/images/drones.jpg" alt="">
<a class="title-href" href="/drones">Check Out Our Drones</a>
