<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class='header'>

      <h2>Welcome to a very random "drone managing app"</h2>

    </div>

    <div class='navbarwrapper'>

      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/drones'>List</a></li>
          <li><a href='/drones/create'>Add Drone</a></li>
        </ul>
      </nav>

    </div>
    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>