<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

<ul class="topnav">
  <li><a {{#if page_home}}class="active"{{/if}} href="/">Home</a></li>
  <li><a {{#if page_drones}}class="active"{{/if}} href="/drones">Drones</a></li>
<li><a {{#if page_create}}class="active"{{/if}} href="/drones-create">Add New Drone</a></li>  
</ul>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
 </body>

</html>