<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="home">
    <a class="links" href="/">Home</a>
    <a class="links" href="/drones">Wanna Buy DronZ?</a>
    <a class="links" href="/drones/create">Create your own flying beast!</a>
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>