<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
    <button><a href="/">Home</a></button>
    <button><a href="/drones">View all drones</a></button>
    <button><a href="/drones/create">Create a drone</a></button>
    </footer>

    
  </nav>

    {{{body}}}
    
 <script src="/js/script.js"></script>
</html>