<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{{body}}}

    <br>
    <div id="main-anchor-tags">
      <a href="/drones">Check all drones</a>
      <a href="/drones/create">Create your drone</a>
      <a href="/">Main Menu</a>
    </div>
    <div id="credits">
      <p>Made by André Pinto @ Ironhack</p>
    </div>

    <script src="/js/script.js"></script>
  </body>

</html>