<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    {{{body}}}

    <button><a href="/drones">Watch the drones</a></button>
    <button><a href="/drones">Create a new drone</a></button>



    <script src="/javascripts/script.js"></script>
  </body>

</html>