<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="navbar-buttons">
         <a class="button" href="/">Home</a>
         <a class="button" href="/drones">Drones List</a>
         <a class="button" href="/drones/create">Create a Drone</a>
         <a class="button" href="/drones/update">Update a Drone</a>
      </div>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>