<h1>A new drone has been created!</h1>

<p> Name: {{name}}</p>

<p>N. of propellers: {{propellers}}</p>

<p> Max Speed: {{maxSpeed}}</p>

<a href='/drones/create'>
  <button>Go back to creation form</button>
</a>