<div class="text-center">
    <img src="/images/sm.png" alt="M.I.A" height="200px">
    <h1><b>404: Drone not found</b></h1>
    <p>Unfortunately this route does not exist</p>
    <a href="/drones" class="btn btn-dark mt-4">Go to drones <i class="las la-chevron-circle-right"></i></a>
</div>
