<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">404 Error</span>
  This route does not exist on the app! Check if everything is ok!
</div>
