body {
  font: sans-serif;
}

a {
  color: #00b7ff;
}

.btns {
  display: inline-block;
}

.drone-card .without {
  border: none;
}

.square .drone-card {
  justify-content: center;
}

.create-btn {
  display: flex;
  justify-content: center;
}