body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h2 {
  margin-bottom: 30px;
}

a {
  color: #00b7ff;
  width: 170px;
  margin-top: 20px;
}

.index {
  margin-top: 30px;
}

.btn {
  width: 170px;
  /* margin-bottom: 20px; */
}

.card {
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
}

.card-btn-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.card-btn-section a {
  margin: 0 20px 0 0;
  width: 100px;
}

.card-btn-section button {
  margin: 0 20px 0 0;
  width: 100px;
}
