html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background: #ff7e5f;
	background-color: #ff3cac;
	background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: default;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

nav {
	display: flex;
	background-color: rgb(255, 255, 255);
	justify-content: space-between;
	height: 3.5rem;
	box-shadow: 0px 0px 5px;
}

nav div {
	margin: auto 3rem;
}

nav div a {
	margin: auto 2rem;
	font-size: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

a {
	color: #00b7ff;
	text-decoration: none;
}

#homepage {
	background: url('../images/cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#homepage h1 {
	color: white;
	font-size: 4rem;
	font-weight: 400;
}

#homepage a {
	font-size: 3rem;
}

.red {
	color: rgb(255, 130, 130);
}

.orange {
	color: rgb(255, 184, 53);
}
.green {
	color: rgb(136, 212, 23);
}

@media only screen and (min-width: 992px) {
	.create-book {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.create-book input {
		font-size: 1.3rem;
		text-align: center;
	}

	.create-book label {
		font-size: 1.3rem;
	}

	.create-book textarea {
		resize: none;
		font-size: 1.3em;
		padding: 1rem 2rem;
		text-align: justify;
		border-radius: 1rem;
		width: 95%;
	}

	.book {
		background: white;
		margin: 3vh auto;
		width: 30vw;
		height: 40vh;
		display: flex;
		flex-direction: column;
		text-align: center;
		box-shadow: 0px 0px 5px;
		font-size: 2rem;
		border-radius: 2rem;
	}

	.book button {
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		margin: 0;
		font-size: 2rem;
	}

	.book div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.book div * {
		margin: 0.5rem auto;
	}

	.book h3 {
		margin-bottom: 0.5rem;
		font-weight: 400;
	}
	.book h4 {
		margin: auto;
		font-style: italic;
		color: rgb(90, 90, 90);
		font-weight: 400;
	}

	.book form {
		margin: 0;
	}

	#booksWrapperDiv {
		display: flex;
		flex-wrap: wrap;
	}

	.anchor {
		margin: 1rem;
		display: flex;
		justify-content: center;
		font-size: 1.6rem;
		font-weight: 400;
	}

	.anchor a {
		background: white;
		padding: 0.5rem 2rem;
		border-radius: 2rem;
	}

	.edit-book {
		box-shadow: 0px 0px 5px;
		height: 65vh;
		width: 60vw;
	}

	.wrapper {
		background: white;
		border-radius: 2rem;
		width: 55vw;
		margin: 15vh auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		box-shadow: 0px 0px 5px;
	}

	.wrapper button {
		margin: 1.5vh auto;
	}

	.wrapper p {
		display: flex;
		font-size: 1.1rem;
		text-align: justify;
	}

	.wrapper h2 {
		font-size: 2rem;
	}

	.wrapper b {
		font-size: 1.2rem;
	}

	.button {
		background: none;
		border: none;
		font-size: 1.5rem;
		cursor: pointer;
		padding: 0.2rem 1.5rem;
	}

	.big-anchor {
		font-size: 1.5rem;
		padding: 0.2rem 1.5rem;
		border-radius: 2rem;
		border: 2px solid #00b7ff;
	}
	.big {
		font-size: 1.5rem;
		margin: 0.5rem auto;
	}
	.para {
		width: 80%;
	}
}

@media only screen and (max-width: 991px) {
	.create-book {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.create-book input {
		font-size: 1.3rem;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	.create-book label {
		font-size: 1.3rem;
		color: gray;
	}

	.create-book textarea {
		-ms-overflow-style: none;
		resize: none;
		font-size: 1.3em;
		padding: 1rem 1.5rem;
		text-align: justify;
		border-radius: 1rem;
		width: 90%;
	}
	.create-book textarea::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	.book {
		background: white;
		margin: 3vh auto;
		width: 90vw;
		height: 40vh;
		display: flex;
		flex-direction: column;
		text-align: center;
		box-shadow: 0px 0px 5px;
		font-size: 2rem;
		border-radius: 2rem;
	}

	.book button {
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		margin: 0;
		font-size: 2rem;
	}

	.book div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.book div * {
		margin: 0.5rem auto;
	}

	.book h3 {
		margin-bottom: 0.5rem;
		font-weight: 400;
	}
	.book h4 {
		margin: auto;
		font-style: italic;
		color: rgb(90, 90, 90);
		font-weight: 400;
	}

	.book form {
		margin: 0;
	}

	#booksWrapperDiv {
		display: flex;
		flex-direction: column;
	}

	.anchor {
		margin: auto;
		display: flex;
		justify-content: center;
		font-size: 1.6rem;
		font-weight: 400;
	}

	.anchor a {
		background: white;
		padding: 0.5rem 2rem;
		border-radius: 2rem;
	}

	.edit-book {
		box-shadow: 0px 0px 5px;
		height: 65vh;
		width: 60vw;
	}

	.wrapper {
		background: white;
		border-radius: 2rem;
		width: 95vw;
		height: 95vh;
		margin: 2vh auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		box-shadow: 0px 0px 5px;
	}

	.wrapper button {
		margin: 1.5vh auto;
	}

	.wrapper p {
		display: flex;
		font-size: 1.1rem;
		text-align: justify;
	}

	.wrapper h2 {
		font-size: 2rem;
	}

	.wrapper b {
		font-size: 1.2rem;
	}

	.button {
		background: none;
		border: none;
		font-size: 1.5rem;
		cursor: pointer;
		padding: 0.2rem 1.5rem;
	}

	.big-anchor {
		font-size: 1.5rem;
		padding: 0.2rem 1.5rem;
		border-radius: 2rem;
		border: 2px solid #00b7ff;
	}
	.big {
		font-size: 1.5rem;
		margin: 0.5rem auto;
	}
	.para {
		width: 90%;
	}
}
