body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #fff;
}
a:hover {
  color: #fff;
  text-decoration: none;
}

/* LIST */

.container{
  padding: 0px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}
.card.col-sm-4 {
  padding: 20px;
  border-radius: 0px;
}

.modify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.btn.btn-dark {
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  width: 100%;
}
