<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
  <input
  type="text"
  name="name"
  value=""
  placeholder="Enter the name for the drone"
/>
<input
  type="text"
  name="propellers"
  value=""
  placeholder="Enter the propellers for the drone"
/>
<input
  type="number"
  name="maxSpeed"
  value=""
  placeholder="Enter a max speed for the drone"
/>
  <button type="submit">Save!</button>
</form>