<h2>Create a new drone</h2>
<form method="POST" action="/drones/create">
<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
</div>
<div class="mb-3">
  <label for="propeller" class="form-label">Propeller</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Propeller">
</div>
<div class="mb-3">
  <label for="maxSpeed" class="form-label">Max Speed</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="MaxSpeed">
</div>
</form>
<button type="submit" class="btn btn-primary">Create Drone</button>