<h1>Create a new drone</h1>
<p>
<form method="POST" action="/drones/create">
    <div>
        <input class="form-control" type="text" size="50" placeholder="Name" aria-label="default input example" name="name">
        <br>
        <input class="form-control" type="text" size="50" placeholder="Propellers" aria-label="default input example" name="propellers">
        <br>
        <input class="form-control" type="text"  size="50" placeholder="Max Speed"  aria-label="default input example" name="maxSpeed">
        <br>
        <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
</form>
</p>