<h2 class="subpage-title">Create a new drone</h2>

<form action="/drones/create" method="POST" class="flex-inputs">

    <label for="name">Drone's Name: </label>
    <input type="text" name="name">

    <label for="propellers">Number of propellers: </label>
    <input type="number" name="propellers">

    <label for="maxSpeed">Max Speed: </label>
    <input type="number" name="maxSpeed">

    <button type="submit"> Create drone</button>

</form>