<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name">
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Propellers" name="propellers">
        <label for="floatingInput">Propellers</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Speed" name="maxSpeed">
        <label for="floatingInput">Speed</label>
    </div>

    <button type="submit">Add</button>
</form>