<h2>Create a new drone</h2>
 <form action="/drones/create" method="POST">
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="propellers">propellers</label>
    <input type="text" name="propellers" id="propellers">
    <label for="maxSpeed">maxSpeed</label>
    <input type="text" name="maxSpeed" id="maxSpeed">
    <button type="submit">create new Drone</button>
</form>