<h1>Create a new drone</h1>
 

<div class="form-display">
<div class="container-create">

<form action="/drones/create" method="post">
<label for="title">Name</label> 
<input type="text" name = "name" id="name">

<label for="propellers">Propellers</label>
<input type="number" name="propellers" id = "propellers"></input>

<label for="maxSpeed">Max Speed</label>
<input type="number" name="maxSpeed" id="maxSpeed">

</div>
<button type="sumbit" id="create_drone_button"> Create drone</button>

</form>

</div>
