<!--Iteration #3.2: Add a new drone-->
<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <div>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div>
        <input type="text" name="propellers" placeholder="Propellers">
    </div>
    <div>
        <input type="text" name="maxSpeed" placeholder="Max Speed">
    </div>
    <button type="submit">Submit</button>
</form>