<h2>Create a new drone</h2>
<form action="/drones/create" method="post">
  <label>Name</label>
  <input name="name" placeholder="Your drone's name" />
  <label>Propellers</label>
  <input name="propellers" placeholder="0" />
  <label>Speed</label>
  <input name="speed" placeholder="0" />
  <button type="submit">Create</button>
</form>