<div class="container mt-4">

    <div class="row justify-content-center">

        <div class="col-md-8">
            <h2>Create a new drone</h2>

            <h1>New drone</h1>
            <hr>

            <form action="/drones/create" method="POST">

                <div class="mb-3">
                    <label for="field1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="field1" name="name">
                </div>

                <div class="mb-3">
                    <label for="field2" class="form-label">Propellers</label>
                    <input type="number" class="form-control" id="field2" name="propellers">
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="field3" class="form-label">Maxspeed</label>
                            <input type="number" class="form-control" id="field3" name="maxSpeed">
                        </div>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Add drone</button>
                </div>
            </form>
        </div>
    </div>

</div>