<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name" required />
    <label for="propellers">Propellers: </label>
    <input id="propellers" type="number" name="propellers" required>
    <label for="maxSpeed">Max Speed: </label>
    <input id="maxSpeed" type="number" name="maxSpeed" required>
    <input type="submit">
</form>