<h2>Create a new drone</h2>

<form action='/drones/create' method='POST'>
  <label for='name'>Name:</label>
  <input type='text' name='name' id='' />
  <label for='propellers'>Nr of Propellers</label>
  <input type='number' name='propellers' />
  <label for='maxSpeed'>Max Speed</label>
  <input type='number' name='maxSpeed' />
  <button type='submit'>Create drone</button>
</form>