<h2>Create a new drone</h2>

<form method="POST" action="/drones/create">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input name="name" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="propellers" class="form-label">Propellers</label>
        <input name="propellers" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label for="maxSpeed" class="form-label">Max Speed</label>
        <input name="maxSpeed" type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>