<h2>Create a new drone</h2>
<form class="big-forms" method="post" action="/drones/create" class="form">
    <label class="labels" for="name">Name</label>
    <input class="input" type="text" id="name" name="name" placeholder="Enter the drone's name">
    <label class="labels" for="propellers">Number of propellers</label>
    <input class="input" type="number" min="1" id="propellers" name="propellers" placeholder="How many propellers">
    <label class="labels" for="maxSpeed">Maximum speed</label>
    <input class="input" type="number" min="1" id="maxSpeed" name="maxSpeed" placeholder="Its maximum speed">
    <button class="btn">Create the drone</button>
</form>