<h2>Create a new drone</h2>

<div>
    <form action="/drones"  method="POST">
        <label for="username">name</label>
        <input type="text" name="name" id="name">
        <label for="username">propellers</label>
        <input type="text" name="propellers" id="propellers">
        <label for="username">Speed</label>
        <input type="text" name="maxSpeed" id="maxSpeed">
        <button type="submit">create drone</button>

    </form>
    
</div>