<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Add a new drone</h2>
            <hr>
            <form action="/drones/add-new-drone" method="POST">
                <div class="mb-3 mt-5">
                    <label for="droneName" class="form-label">Drone name</label>
                    <input type="text" class="form-control" id="droneName" name="name">
                </div>

                <div class="mb-3">
                    <label for="dronePropellers" class="form-label">Number of propellers</label>
                    <input type="number" class="form-control" id="dronePropellers" name="propellers">
                </div>

                <div class="mb-3 ">
                    <label for="droneSpeed" class="form-label">Drone max speed</label>
                    <input type="number" class="form-control" id="droneSpeed" name="speed">
                </div>

                <button type="submit" class="btn btn-dark">Add the drone!</button>
            </form>

        </div>
    </div>
</div>