<h2>Create a new drone</h2>

<form method="POST" action="/drones/create">
  <div class="mb-3">
    <label class="form-label" >name</label>
    <input class="form-control" type="text" name="name">
    <br>
    <label class="form-label" > propellers</label>
    <input class="form-control" type="text" name="propellers">
    <br>
     <label class="form-label" >MaxSpeed</label>
    <input class="form-control" type="text" name="maxSpeed">
    <br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </div>
</form>