<h2>Create a new drone</h2>

<h2>Form for creating drones</h2>
<form action="/drones/create" method="POST">
    <label for="name-input">name:</label>
    <input type="text" name="name" id="name-input" placeholder="name the drone"/>
    <label for="propellers-input">propellers:</label>
    <input type="number" name="propellers" id="propellers-input" placeholder="no. of propellers" max="10"/>
    <label for="maxSpeed-input">maxSpeed:</label>
    <input type="number" name="maxSpeed" id="maxSpeed-input" placeholder="max speed" max="25"/>
    
    <button type="submit">Create the drone</button>
</form>