<h2>Create a new drone</h2>

<div class="container">




    <form action='/drones/create' method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="propellers" class="form-label">Hélices</label>
            <input type="number" class="form-control" id="propellers" name="propellers">
        </div>
        <div class="mb-3">
            <label for="maxSpeed" class="form-label"> Max Velocidad</label>
            <input type="number" class="form-control" id="maxSpeed" name="maxSpeed">
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-success">Crear Dron</button>
        </div>

    </form>

    <hr>
</div>
</div>



<a href="/" class="btn btn-success">Volver</a>
</div>