<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>Create a New Drone</h1>
            <hr>

            <form action="/drones/create" method="POST">
                <div class="mb-3 mt-5">
                    <label for="droneName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="droneName" name="name">
                </div>

                <div class="mb-3">
                    <label for="dronePropellers" class="form-label">Propellers</label>
                    <input type="text" class="form-control" id="dronePropellers" name="propellers">
                </div>

                <div class="mb-3 ">
                    <label for="droneSpeed" class="form-label">Max Speed</label>
                    <input type="text" class="form-control" id="droneSpeed" name="maxSpeed">
                </div>

                <button type="submit" class="btn btn-dark">Crear Drone</button>
            </form>

        </div>
    </div>