<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="" value="1" />
  <label for="propellers">Propellers</label>
  <input type="text" name="propellers" id="" value="2" />
  <label for="speed">Speed</label>
  <input type="text" name="speed" id="" value="3"/>
  <input type="submit" value="Submit" />
</form>