<h2>Create a new drone</h2>
<form method="post" action="/drones/create">
    <label for="name" >Name</label>
    <input type="text" id="name" name="name">

    <label for="propellers" >Propellers</label>
    <input type="number" id="propellers "name="propellers">

    <label for="speed" >Max speed</label>
    <input type="number" id="speed" name="maxSpeed">

    <button type="submit">Create</button>
</form>