
<!--
<form action="/drones/create" method="POST">

    <label> Name:
        <input type="text" name="name" />
    </label>

    <label> Propellers:
        <input type="number" name="propellers" min="1" />
    </label>

    <label> Maximum Speed:
        <input type="number" name="maxSpeed" min="1" />
    </label>

    <button type="submit"> Create </button>
</form>
-->

<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Crea un Drone</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" action="/drones/create" method="POST">
        <div>
          <label class="block text-sm font-medium text-gray-700"> Nombre </label>
          <div class="mt-1">
            <input name="name" type="text" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700"> Propulsores </label>
          <div class="mt-1">
            <input name="propellers" type="number" min="1" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700"> Máxima Velocidad </label>
          <div class="mt-1">
            <input name="maxSpeed" type="number" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>

        <div>
          <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Crear</button>
        </div>
      </form>

        </div>
      </div>
    </div>
  </div>
</div>
