<h2>Create a new drone</h2>
<form method="post" action="/drones/create" class="form">
    <label for="name">name</label>
    <input class="input" type="text" id="name" name="name" value="test drone">
    <label for="propelles">Propelles</label>
    <input id="propelles" class="input" type="text" name="propelles" value="23">
    <label for="maxSpeed">Max Speed</label>
    <input class="input" name="maxSpeed" id="maxSpeed" value="50">
    <button class="btn">Submit</button>
</form>