<h2>Create a new drone</h2>

<form method="post" action="/drones/create" class="form">
    <label for="name">name</label>
    <input id="name" class="input" type="text" name="name" value="drone1">

    <label for="propellers">propellers</label>
    <input id="propellers" class="input" type="propellers" name="propellers" value="1">

    <label for="maxSpeed">max speed</label>
    <input id="maxSpeed" class="input" type="maxSpeed" name="maxSpeed" value="100000">

    <button type="submit">good for me</button>
</form>