<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">

<label>
    Drone's name
    <input type="text" placeholder="Drone's name" name="name">
</label>
<br><br>

<label>
    Number of Propellers
    <input type="text" placeholder="Propellers num" name="propellers">
</label>
<br><br>

<label>
    Max Speed
    <input type="text" placeholder="Top Speed" name="maxSpeed">
</label>
<br><br>

<input type="submit" value="Create here">
<br><br>

</form>
