<h2>Create a new drone</h2>

<form method="post" action="/drones/create" class="form">
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="Drone's name">
    
    <label for="propellers">Propellers</label>
    <input class="input" type="text" name="propellers" id="propellers" value="0">
    
    <label for="maxSpeed">Speed</label>
    <input class="input" type="text" name="maxSpeed" id="maxSpeed" value="0">

    <button type="submit" class="btn">Create a new drone</button>


</form>