<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">

    <div class="form-group w-25">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <br>
    <div class="form-group w-25">
        <label for="inputAddress">Propellers</label>
        <input type="text" class="form-control" id="inputAddress" name="propellers">
    </div>
    <br>
    <div class="form-group w-25">
        <label for="inputAddress2">Max Speed</label>
        <input type="text" class="form-control" id="inputAddress2" name="maxSpeed">
    </div>


    <input type="submit" value="Create Drone">




</form>