<h2>Create a new drone</h2>

<form method="post" action="/create/drones">

    <p>
        <label for="">name</label>
        <input type="text" name="name" value="drone name">
    </p>
    <p>
        <label for="">propellers</label>
        <input type="number" value="propellers">
    </p>
    <p>
        <label for="">max speed</labl>
        <input type="number" value="max speed">
    </p>
    <button>create new drone</button>
</form>