<div class="col-12  mt-5 bg-light bg-secondary h-75 w-50 p-3">
    <div class="col-md-12">
        <h2>Create a new drone</h2>
        <hr>

        <form action="/drones/create" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="propellers" class="form-label">Propellers</label>
                <input type="text" class="form-control" id="propellers" name="propellers">
            </div>
            <div class="mb-3">
                <label for="maxSpeed" class="form-label">maxSpeed</label>
                <input type="text" class="form-control" id="maxSpeed" name="maxSpeed">
            </div>

            <button type="submit" class="btn btn-dark">Create a new drone </button>
            <a href="/" class="btn btn-dark">Volver al incio</a>
        </form>

        <hr>
    </div>
</div>