

<div id="mainList">


    <div class="center">
        <h1 class="title">Create a new drone</h1>
    </div>
    <div class="update">
        <form class="formUp" action="/drones/create" method="post">
            <label for='name'> Name</label>
            <input type='text' name='name' id='name' />

            <label for='propellers'>Number of propellers</label>
            <input type='number' name='propellers' id='propellers' min='0' />

            <label for='maxSpeed'>Max Speed</label>
            <input type='number' name='maxSpeed' id='maxSpeed' min='0' />

            <button type='submit'>Create</button>
        </form>
    </div>
</div>