<div class="main">
    <h2>Create a new drone</h2>
    
    <form action="/drones/create" method="POST">
      
        <label for="name-input">Name:</label>
        <input type="text" name="name" id="name-input" required /><br>

        <label for="propellers-input">Number of propellers: </label>
        <input type="number" name="propellers" id="propellers-input" /><br>

        <label for="max-speed-input">Max Speed: </label>
        <input type="number" name="speed" id="max-speed-input"/><br>

        <button type="submit">Save</button>
        
    </form>
</div>