<h2>Create a new drone</h2>
<form class="big-form" action="/drones/create" method="post">

<label for="name-input">Name:</label>
<input type="text" name="name" id="name-input">

<label for="propellor-input">Amount of propellors:</label>
<input type="number" name="propellors" id="propellor-input">

<label for="speed-input">Max speed in km/h:</label>
<input type="number" name="maxSpeed" id="speed-input">

<button type='submit' >Add new drone</button>
</form>