<div class="createTitle">
  <h2>Create a new drone</h2>
</div>
<form action="/drones/create" method="post" class="createForm">
  <label for="name" class="formLabel"><b>Name</b></label>
  <input type="text" name="name" id="name" class="formInput" />

  <label for="propellers" class="formLabel"><b>Propellers</b></label>
  <input type="number" name="propellers" id="propellers" class="formInput" />

  <label for="maxSpeed" class="formLabel"><b>MaxSpeed</b></label>
  <input
    type="number"
    name="maxSpeed"
    id="maxSpeed"
    min="0"
    class="formInput"
  />
  <button type="submit" class="changeInfoBtn">Create new Drone</button>

</form>