<h2>Create a new drone</h2>
<div>
    <form method="post" action="/drones/create">

        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <label for="propellers">Propellers</label>
         <input type="text" name="propellers" id="propellers">

        <label for="maxSpeed">Max Speed</label>
        <input type="text" name="maxSpeed" id="maxSpeed">

        <button>Create My New Drone</button>

    </form>
</div>