<form action="/drones/create" method="POST"> 
    <input type="text" name="name" placeholder="Nome do Drone">
    <input type="text" name="propellers" placeholder="Número de ventoinhas">
    <input type="text" name="maxSpeed" placeholder="Velocidade Máxima">
    <button type="submit">Criar Drone!</button>
</form>