<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">
<label for="">Nombre</label>
<input type="text" name="name"/>
<br>
<label for="">Propellers</label>
<input type="text" name="propellers"/>
<br>
<label for="">Speed</label>
<input type="text" name= "maxSpeed"/>
<br>
<label for="">Image</label>
<input type="text" name= "image"/>
<button type="submit">Crear drone</button>
</form>