<h2>Create a new drone</h2>

<form method="POST" action="/drones/create">
            <label>
                Drone name:
                <input type="text" name="name" >
            </label>

             <label>
                Number of propellers:
                <input type="number" name="propellers" >
            </label>

             <label>
                Maximum speed:
                <input type="number" name="maxSpeed" >
                 <button type="submit">Submit</button>
            </label>

</form>

            