<h2 class="titleEveryPage">Create a new drone</h2>
<div class="mb-3 centeredDiv d-flex">
    <form action="/drones/create" method="post" class="formDiv">
        <label class="form-label"> Name:
            <input type="text" name="name" class="form-control" />
        </label>

        <label class="form-label"> Propellers:
            <input type="number" name="propellers" class="form-control" />
        </label>

        <label class="form-label"> Max. speed:
            <input type="number" name="maxSpeed" class="form-control" />
        </label>

        <button type="submit" class="btn btn-dark"> Create </button>
    </form>
</div>
<div class="formDiv">
    <a href="/drones/"><button type="text" class="btn btn-dark"> Go to list of Drones </button></a>
</div>