
<h1>Crear libro</h1>

<form action="/drones/create-form" method="POST">
	<label>Nombre</label>
	<input type="text" name="nombre" />

	<br />

	<label>Propellers</label>
	<input type="text" name="propellers" />

	<br />

	<label>maxSpeed</label>
	<input type="text" name="maxSpeed" />

	<br />


	<button type="submit">Crear drone</button>

</form>