<h2>Create a new drone</h2>
<form method="post" action="/drones/create" class="form">
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="Test drone">
    <label for="propellers">Number of propellers</label>
    <input class="input" type="number" id="propellers" name="propellers" value="2">
    <label for="maxSpeed">Maximum speed</label>
    <input class="input" type="number" id="maxSpeed" name="maxSpeed" value="20">
    <button>Create the drone</button>
</form>