<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <label for="">Name:</label>
    <Input type="text" name="name"></Input>
    <label for="">Propellers: </label>
    <Input type="text" name="propellers"></Input>
    <label for="">Max Speed: </label>
    <Input type="text" name="maxSpeed"></Input>
    <button type="submit">Create drone</button>
</form>