<h2>Create a new drone</h2>
<form action="/drones/create" method="post">
  <input type="text" placeholder="Name of drone" name="name">
  <input type="number" name="propellers" placeholder="Number of propellers" id="">
  <input type="number" name="maxSpeed" placeholder="Maximum speed" id="">
  {{!-- <input type="number" name="rating" placeholder="rating" id=""> --}}
  <button type="submit">SAVE DRONE</button>
</form>