<h2>Create a new drone</h2>

<form method="post" action="/drones/create">

    <p>
        <label for="">name</label>
        <input type="text" name="name" value="drone name">
    </p>
    <p>
        <label for="">propellers</label>
        <input type="number" name="propellers" value="10" pattern="[0-9]">
    </p>
    <p>
        <label for="">max speed</label>
        <input type="number" name="max speed">
    </p>
    <button>Ok</button>
</form>