<div class="text">
    <h2>Create a new drone</h2>
    <form action="/drones/create" method="post">
    <label for="name">Name</label>
    <input id="name" type="name" name="name">

    <label for="propellers">Propellers</label>
    <input id="propellers" type="number" name="propellers" max="20">

    <label for="maxSpeed">Max Speed</label>
    <input id="maxSpeed" type="number" name="maxSpeed" max="100">

    <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>