{{#if errorCode}}
  <h3>This drone already exists, sorry!</h3>
  <hr />
{{/if}}
<h2>Create a new drone</h2>
<hr />
<form action='/drones/create' method='post' class='form'>
  
{{> droneForm }}

</form>