<h2>Create a new drone</h2>

<form method='POST' action:'/create-form'><div class="input-group mb-3">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" id="basic-addon1"for="droneName">Name</label>
        </div>
        <input name= 'name'type="text" class="form-control" id="droneName">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" id="basic-addon1"for="propellers">Number of propellers</label>
        </div>
        <input name= 'propellers'type="propellers" class="form-control" id="propellers">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="maxSpeed">Max horizontal speed</label>
        </div>
        <input name='maxSpeed' type="number" class="form-control" id="maxSpeed">
        <div class="input-group-append">
            <span class="input-group-text">m/s</span>
         </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 

{{#if error}}
<p>Could not create the new drone. Please try again.</p>
{{/if}}