<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <label for="name">Name:</label>
    <br>
    <input type="text" id="name" name="name">
    <br>
    <label for="propellers">Propellers:</label>
    <br>
    <input type="number" id="propellers" name="propellers">
    <br>
    <label for="maxSpeed">Max Speed:</label>
    <br>
    <input type="number" id="maxSpeed" name="maxSpeed">
    <br>
    <button type="submit">Create Drone:</button>
</form>