<h2>Create a new drone</h2>

<form action='/drones/create' method='POST'>
    <label for='name'>Drone name:</label>
    <input type='text' id='name' name='name' placeholder='Creeper XL 500'>
    <label for='propellers'>Drone propellers:</label>
    <input type='number' id='propellers' name='propellers' placeholder='4'>
    <label for='maxSpeed'>Drone maxSpeed:</label>
    <input type='number' id='maxSpeed' name='maxSpeed' placeholder='12'>
    <button type="submit">Create</button>
</form>