<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">
            <h2> </h2>
            <h1>New drone</h1>
            <hr>

            <form action="/drones/create" method="POST">

                <div class="mb-3">
                    <label for="field1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="field1" name="name">
                </div>

                <div class="mb-3">
                    <label for="field2" class="form-label">Propellers</label>
                    <input type="number" class="form-control" id="field2" name="propellers">
                </div>
                <div class="mb-3">
                    <label for="field2" class="form-label">Maximum Speed</label>
                    <input type="number" class="form-control" id="field2" name="maxSpeed">
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Add a new drone</button>
                </div>
                <div class="d-grid pt-2">
                    <a href="/drones/list" type="submit" class="btn btn-dark">Return to list</a>
                </div>
            </form>
        </div>
    </div>

</div>