<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <label>
        Nombre <input type="text" name="name">
    </label>
    <label>
        Propietarios <input type="number" name="propellers">
    </label>
    <label>
        Velocidad <input type="number" name="maxSpeed">
    </label>
<input type="submit" value="Crear Dron">

</form>