
<div class="container dronelist editing">
    <h2>Create a new drone</h2><br>
    <form action="/drones/create" method="post">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="maxSpeed" placeholder="Max Speed"><br>
        <input type="text" name="propellers" placeholder="Propellers"><br>
    <br>    
        <button class="btn btn-primary">
            CREATE DRONE
        </button>
    </form>
</div>