<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">
    <label>
        Name: 
        <input type="text" name="name">  {{!-- best practice tip: have "name" values match the model properties  --}}
    </label>
    <br>
   

    <label>
        Propellers: 
        <input type="number" name="propellers" min="1" max="8">
    </label>
    <br>


    <label>
        Max Speed: 
        <input type="number" name="maxSpeed" min="1" max="30">
    </label>
    <br>

    <button type="submit">Save</button>
</form>

<a href="/drones">Back</a>