<h2>Create a new drone</h2>

<form method="POST" action="/drones/create" id="create-form">
  <div class="form-group">
    <label for="droneName">Name</label>
    <input name="name" type="text" class="form-control" id="droneName" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="dronePropellers">Number of Propellers</label>
    <input name="propellers" type="number" class="form-control" id="dronePropellers">
  </div>
  <div class="form-group">
    <label for="droneMaxSpeed">Max Speed (in m/s)</label>
    <input name="maxSpeed" type="number" class="form-control" id="droneMaxSpeed">
  </div>
  <button id="create-button" type="submit" class="btn btn-primary">Submit</button>
</form>