<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Drone's name</span>
        <input type="text" class="form-control" name="name">
    </div>

    <br><br>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Propellers</span>
        <input type="text" class="form-control" name="propellers">
    </div>

    <br><br>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Maximum Speed (meters per second)</span>
        <input type="text" class="form-control" name="maxSpeed">
    </div>

    <br><br>
    <div class="col-12">
        <button class="btn btn-outline-dark d-grid gap-2 col-3" type="submit">Create</button>
    </div>
    <br><br>
    <div class="col-12">
        <a href="/drones" class="btn btn-outline-light d-grid gap-2 col-3 ">Go back to the list</a>
    </div>

</form>