<h2>CREAR NUEVO DRONE</h2>
<hr>

<form action="/drones/create" method="POST">

    <label>
        Nombre
        <input type="text" name="name">
    </label>

    <br><br>

    <label>
        Propeles
        <input type="text" name="propellers">
    </label>

    <br><br>

    <label>
        Velocidad max
        <input type="text" name="maxSpeed">
    </label>  

    <br><br>
    <input class="btn btn-primary" type="submit" value="Crear drone">
</form>

<a class="btn btn-warning"" href=" /drones" role="button">Volver a la lista</a>