<h2>Create a new drone</h2>
<form method="POST" action="/drones/create">
    <input type="text" name="name">
    <input type="number" name="propellers">
    <input type="number" name="maxSpeed">
    <button type="submit">Create drone</button>
</form>