<h2>Create a new drone</h2>
<div class='wrapper'>

	<form action='/drones/create' method='POST'>

		<div class='create-book'>
			<h1>Add a Drone</h1>
			<label for='name'>Title</label>
			<input type='text' name='name' />

			<label for='propellers'>Author</label>
			<input type='text' name='propellers' />

			<label for='maxSpeed'>Rating</label>
			<input type='number' name='maxSpeed' />

			<button class='button green'>Create</button>
			<a href='/drones' class='big-anchor'>Go Back</a>
		</div>
	</form>
</div>
