<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
<input type="text" name="name" value="" placeholder="Name">
<input type="number" name="propellers" value="" placeholder="Propellers">
<input type="number" name="maxSpeed" value="" placeholder="Max Speed">
<button type="submit">Submit</button>
</form>