<h2 class="text-center m-2">Create a new drone</h2>

    <form action="/drones/create" method='post'>
<div class="form-group">
        <label for="name-input">Name:</label>
        <input type="text" name="name" id="name-input" class="form-control form-control-lg"/>
</div>
<div class="form-group">
        <label for="propellers-input">Propellers:</label>
        <input type="number" name="propellers" id="propellers-input" class="form-control form-control-lg" />
</div>
<div class="form-group">
        <label for="maxSpeed-input">Max Speed:</label>
        <input type="number" name="maxSpeed" id="maxSpeed-input" class="form-control form-control-lg" />
</div>
         <button type="submit" class="btn btn-primary btn-lg">Create</button>
         </div>
    </form>
