<div class="create">
  <h2>Create a new drone</h2>
  <form action="/drones/create" method="post">

    <label for="name">Drone's Name:</label>
    <input type="text" name="name" id="name" />

    <label for="image">Image:</label>
    <input type="text" name="image" id="image" value="images/drone.jpg" />

    <label for="propellers">Number of Propellers:</label>
    <input type="number" min="1" name="propellers" id="propellers" />

    <label for="maxSpeed">Maximum Speed:</label>
    <input type="number" min="1" name="maxSpeed" id="maxSpeed" />

    <button type="submit">Create the Drone</button>

  </form>
</div>