<h2>Create a new drone</h2>

<form action='/drones/create' method = 'post'>
    <input type='text' name='name' placeholder='name'>
    <input type='number' name='propellers' placeholder='propellers'>
    <input type='number' name='maxSpeed' placeholder='max speed'>
    <button type='submit'>Create Drone</button>
</form>