<h1>Create a new drone</h1>

<form method="POST">
    <div>
        <label for="name">Name:</label>
        <br />
        <input type="text" name="name" />
    </div>
    <div>
        <label for="propellers">Propellers:</label>
        <br />
        <input type="text" name="propellers" />
    </div>
    <div>
        <label for="maxSpeed">Max Speed:</label>
        <br />
        <input type="number" name="maxSpeed" />
    </div>
    <button type="submit">Create new drone</button>
</form>