<h2>Create a new drone</h2>

<form action="/drones/create" method="post">

<label>
    <p>Name</p>
    <input type="text" name="name">
</label>

<label>
    <p>Propellers</p>
    <input type="number" name="propellers">
</label>

<label>
    <p>Max Speed</p>
    <input type="number" name="maxSpeed">
</label>

<br>
<input type="submit" value="Create Drone" class="btn btn-success">

</form>