<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="New drone name">
    <label for="propellers">Propellers</label>
    <input id="propellers" type="number" name="propellers" min="1" max="50"placeholder="#">
    <label for="maxSpeed">Max Speed</label>
    <input id="maxSpeed" type="number" name = "maxSpeed" min="0" max="200" placeholder="#">

    <button type="submit">Create Drone</button>
</form>