<h2>Create a new drone</h2>

<div class="row justify-content-center">
    <div class="col-md-8">

        <h1>New drone</h1>
        <hr>

        <form action="/drones/create" method="POST">
            <div class="mb-3 mt-5">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="droneName" name="name">
            </div>
            <div class="mb-3 mt-5">
                <label for="propellers" class="form-label">Propellers</label>
                <input type="text" class="form-control" id="dronePropellers" name="propellers">
            </div>
            <div class="mb-3">
                <label for="maxSpeed" class="form-label">Speed</label>
                <input type="text" class="form-control" id="droneMaxSpeed" name="maxSpeed">
            </div>
            <button type="submit" class="btn btn-dark">Crear drone</button>
        </form>