
<h1>Crear drone</h1>

<form action="/drones/create" method="POST">
	<label>Name</label>
	<input type="text" name="name" />

	<br />

	<label>Propellers</label>
	<input type="text" name="propellers" />

	<br />

	<label>maxSpeed</label>
	<input type="text" name="maxSpeed" />

	<br />


	<button type="submit">Crear drone</button>

</form>