<h2>Create a new drone</h2>
<br>
<form action="/drones/create" method="post" >
<label for="">Name of drone</label>
<input type="text" name="name" placeholder="Name">

<label for="">Propellers</label>
<input type="number"  name="propellers" placeholder="0">

<label for="">Speed</label>
<input type="number" name="maxSpeed" placeholder="0">

<button class="btn btn-primary" type="submit">Save</button>


</form>