<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
    <label>Name</label>
    <input name="name" placeholder="Model of your drone">

    <label>Number of propellers</label>
    <input  name="propellers" placeholder="4">

    <label>Max Speed</label>
    <input  name="maxSpeed" placeholder="10 m/s">



    <button type="submit">Create</button>
</form>