<h2>Create a new drone</h2>

<form method="post" action="/drones/create">
    <input type="text" name="name" placeholder="Drone Name">
    <input type="text" name="propellers" placeholder="Drone Propellers">
    <input type="text" name="maxSpeed" placeholder="Drone Max Speed">
    <button>Create New Drone</button>
</form>