<h2>Create a new drone</h2>
<form action ="/drones/create" method="post">
    <label>
        Name:
        <input name="name" type="text">
    </label>
    <label>
        Propellers:
        <input name="propellers" type="number">
    </label>
    <label>
        Max Speed:
        <input name="maxSpeed" type="number">
    </label>

    <button type="submit"> Create new drone!</button>
    </form>