<h2>Create a new drone</h2>
<form action='/drones/create' method='post'>
  <label for='title'>Name</label>
  <input type='text' name='name' id='name' />

  <label for='propellers'>Propellers</label>
  <input type='number' name='propellers' id='propellers' min='1' max='18'/>

  <label for='maxSpeed'>Max speed</label>
  <input type='number' name='maxSpeed' id='maxSpeed' min='1' max='18' />

  <button type='submit'>Submit</button>
</form>