<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Crear Drone</h1>

            <hr>

            <form action="/drones/create" method="POST">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="propellers" class="form-label">Propellers</label>
                    <input type="text" class="form-control" id="propellers" name="propellers">
                </div>
                <div class="mb-3">
                    <label for="maxSpeed" class="form-label">Max Speed</label>
                    <input type="text" class="form-control" id="maxSpeed" name="maxSpeed">
                </div>

                <button type="submit" class="btn btn-dark">Crear </button>
                <a href="/" class="btn btn-dark">Volver al incio</a>
            </form>