<h2>Create a new drone</h2>
<form action="/drones/create" method="post">
  <label>
    Name
    <input name="name" type="text">
  </label>
  <label>
    Max Speed
    <input type="number" name="maxSpeed"></label> <label>
    Number of Porpellers
    <input type="number" name="propellers"></label>
  <button type="submit">Create new Drone</button>
</form>