<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
    <div class="mb-3">
        <label class="form-label">
            Name
        </label>
        <input type="text" class="form-control" name="name">
        <br/>
        <label class="form-label">
            Propellers
        </label>
        <input type="number" class="form-control" name="propellers">
        <label class="form-label">
            Max Speed
        </label>
        <input type="number" class="form-control" name="maxSpeed">
        <button class="btn btn-primary" type="submit">
            SUBMIT
        </button>
    </div>
</form>