<h2>Create a new drone</h2>
<form action="/drones/create" method='POST'>
    <input type="text" placeholder="name" name='name'>
    <input type="text" placeholder="propellers" name='propellers'>
    <input type="text" placeholder="maxSpeed" name='maxSpeed'>
    <button type='submit'>Submit</button>
</form>