<h2>Create a new drone</h2>



<form action="/drones/create" method="POST">

    <input name="name" type="text" placeholder="Name">
    <input name="propellers" type="number" placeholder="0" min="0">
    <input name="maxSpeed" type="number" placeholder="0" min="0">
    <input type="submit">
</form>