<div id="red-form">

<h4>Create a new drone</h4>




<form action="/drones/create" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Propellers</label>
    <input type="number" name="propellers" />

    <label>Speed</label>
    <input type="number" name="maxSpeed" />


    <button type="button" class="btn btn-danger" type="submit">Create</button>

</form>

    
</div>