<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
  <label> Name:
    <input type="text" name="name" />
  </label>
 
  <label> Propellers:
    <input type="number" name="propellers" />
  </label>
 
  <label> Speed:
    <input type="text" name="maxSpeed" min="1" max="100" />
  </label>

  <button type="submit"> Create </button>
</form>

{{#if _message}}
<p>{{_message}}</p>
{{/if}}