<h2>Create a new drone</h2>
<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
<label for="name">name</label>
<input type="text" name="name" id="name"/>

<label for="propellers">propellers</label>
<input type="number" name="propellers" id="propellers"/>

<label for="maxSpeed"> maxSpeed </label>
<input type="number" name="maxSpeed" id="maxSpeed" />
<br>
<button type="submit"> Add drone</button>

</form>