<h2>Crear nuevo dron</h2>

{{!-- formulario de crear --}}

<form action="/drones/create" method="POST"> 

<label>
    Name: <input type="text" name="name">    
</label>

<br>

<label>
    propellers <input type="text" name="propellers">    
</label>

<br>

<label>
    Maximus Speed <input type="text" name="maxSpeed">    
</label>
<br>
<input type="submit" value="Crear drone">
<br>
<a href="/drones"> volver a la lista de drones</a>

</form>