<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="display-6">Crear Drone</h2>
            <hr>
            <form action="/drones/create" method="POST">
                <div class="mb-3">
                    <label for="tit" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="tit" name="name">
                </div>

                <div class="mb-3">
                    <label for="aut" class="form-label">Helices</label>
                    <input type="text" class="form-control" id="aut" name="propellers">
                </div>

                <div class="mb-3">
                    <label for="desc" class="form-label"> Maxima velocidad</label>
                    <input type="text" class="form-control" id="desc" name="maxSpeed">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Crear </button>
                </div>
            </form>

        </div>

    </div>

</div>