<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <input type="text" required name="name" placeholder="Name of the drone">
    <input type="text" name="propellers" placeholder="Propellers">
    <input type="text" name="maxSpeed" placeholder="Maximum speed">
    <button type="submit">Create your drone!</button>
</form>

