<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">
  <label for="label-name">Nombre</label>
  <input type="text" name="name" id="label-name">

  <label for="label-propellers">Propellers</label>
  <input type="number" name="propellers" id="label-propellers">

  <label for="label-speed">Speed</label>
  <input type="number" name="speed" id="label-speed">

  <button type="submit">Create</button>
</form>