<h2>Create a new drone</h2>

<form method="post" action="/drones/create">
  <label for="name">
    <input
      type="text"
      name="name"
      id="addDrone"
      placeholder="Please fill in the name of the drone"
    />
  </label>
  <label for="propellers">
    <input
      type="number"
      name="propellers"
      id="propellers"
      placeholder="Give the total amount of propellers"
    />
  </label>
  <label for="maxSpeed">
    <input
      type="number"
      name="maxSpeed"
      id="maxSpeed"
      placeholder="What is the maxspeed of the drone"
    />
  </label>
  <button type="submit">Add Drone</button>
</form>