<h2>Create a new drone</h2>

<div class="container">
  <form action="/drones/create" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" />

    <label for="propellers">Propellers</label>
    <input type="number" name="propellers" id="propellers" min="0" max="4" />

    <label for="maxSpeed">MaxSpeed</label>
    <input type="number" name="maxSpeed" id="maxSpeed" min="0" max="18" />

    <button type="submit">Create</button>
  </form>
</div>