<h2>Create a new drone</h2>

<form action="/drones/create" method="post" style="width: 500px;">
 
    <input type="text" class="form-control" name="name" placeholder="Name"><br>
    <input type="text" class="form-control" name="propellers" placeholder="Propellers"><br>
    <input type="text" class="form-control" name="maxSpeed" placeholder="Max Speed"><br>
  <button type="submit" value="Submit" class="btn btn-primary">Create</button>
</form>
<br>
<p style="color:red">{{error}}</p>

