<h2>Create a new drone</h2>
<form action="/drones" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Drone name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="propellers" class="form-label">Number of propellers</label>
    <input type="number" class="form-control" id="propellers" name="propellers">
  </div>
  <div class="mb-3">
    <label for="maxSpeed" class="form-label">Maximum speed</label>
    <input type="number" class="form-control" id="maxSpeed" name="maxSpeed">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>