<form method="post" action="/create-drone">
    <h2>Create a new drone</h2>
    <input type="text" name="name" placeholder="Drone Name">
    <input type="number" name="propellers" placeholder="Number of propellers">
    <input type="number" name="maxSpeed" placeholder="Maximum Drone Speed">
    <input type="submit" value="ok">
</form>