<body class="create-drone-background">

<form class="form-create" action="/drones/create" method="post">
    <label for="name"> Name</label>
    <input type="text" id="name" name="name"> 

     <label for="propellers"> Propellers</label>
    <input type="Number" id="propellers" name="propellers"> 

    <label for="maxSpeed"> Speed</label>
    <input type="Number" id="maxSpeed" name="maxSpeed"> 

    <button type="submit">Create the drone!</button>
</form>



</body>
