</h2> Create a new drone !</h2>


<form action="/drones/create" method="post">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name-input" />
    <br>
    <label for="propellers">Propellers Number:</label>
    <input type="number" name="propellers" id="propellers-input" />
    <br>
    <label for="maxSpeed">Maximum Speed:</label>
    <input type="number" name="maxSpeed" id="maxSpeed-input" />
    <br>
    <button type="submit">Create your Drone !</button>

</form>