<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="name"><br>
    <label for="propellers">Propellers:</label><br>
    <input type="text" id="propellers" name="propellers" placeholder="number"><br>
    <label for="maxSpeed">Maximal Speed:</label><br>
    <input type="text" id="maxSpeed" name="maxSpeed" placeholder="speed"><br>
    <input type="submit" value="Submit">
</form>
    