<h2>Game of Drones</h2>
<div class="container2">

    <form action="/drones/create" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name of Drone</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="propellers" class="form-label">Propellers</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="propellers">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Max Speed</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="maxSpeed">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>


</div>