<h2 style="color:rgb(10, 5, 82)">CREATE DRONE</h2>

<form method="POST" action="/drones/create">
  <div class="form-box animate__animated animate__fadeInUp">
    
    <input class="form-control" type="text" name="name" placeholder="Name">
    <br>
   
    <input class="form-control" type="text" name="propellers" placeholder="Propellers">
    <br>
     
    <input class="form-control" type="text" name="maxSpeed" placeholder="Max Speed">
    <br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </div>
</form>