<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">
    <label for="name">Name</label>
    <br>
    <input type="text" name="name" />
    <br>
    <label for="propellers">Propeller</label>
    <br>
    <input type="number" name="propellers" />
    <br>
    <label for="maxSpeed">Max Speed</label>
    <br>
    <input type="number" name="maxSpeed" />
    <br>
    <button type="submit">Create it</button>
</form>