<a href="/drones">Inicio</a>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <h2 class="mb-5">Hora de inventar DRONEEESS ARRIBA LOS DRONES</h2>
            <form action="/drones/create" method="POST">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput"   name="name" placeholder="nombre">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div class="form-floating">
                    <input max="20" type="number" class="form-control" id="floatingPassword" name="propellers" placeholder="numero di eliche">
                    <label for="floatingPassword">Numero di eliche :</label>
                </div>
                <div class="form-floating">
                    <input max="18" type="number" class="form-control" id="floatingPassword" name="maxSpeed" placeholder="Velocità massima">
                    <label for="floatingPassword">Velocità massima :</label>
                </div>
                    <div class="d-grid gap-2">
                    <button class="btn btn-warning" type="submit">Crear tu DRON</button>
                </div>
            </form>
        </div>
    </div>
</div>

