
  <h1>Create a new drone</h1>
  <form action="/drones/create" method="POST">
    <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input value="{{drone.name}}" type="text" class="form-control" id="name" name="name" placeholder="name-drone" required>
  </div>

  <div class="mb-3">
    <label for="propellers" class="form-label">Propellers</label>
    <input value="{{drone.propellers}}" type="text" class="form-control" id="propellers" name="propellers" placeholder="propellers drone" required>
  </div>
 <div class="mb-3">
    <label for="maxSpeed" class="form-label">Max-Speed</label>
    <input value="{{drone.maxSpeed}}" type="text" class="form-control" id="maxSpeed" name="maxSpeed" placeholder="max-speed drone" required>
  </div>
  

  <button class="btn btn-primary">Create Drone</button>
  <button type="submit" class="btn btn-primary">delete</button>
</form>