<h2>Create a new drone</h2>
<div class="form-container">
  <form action="/drones/create" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" />

    <label for="maxSpeed">Max. Speed</label>
    <input type="number" name="maxSpeed" id="maxSpeed" />

    <label for="propellers">Propellers</label>
    <input type="number" name="propellers" id="propellers" />

    <button type="submit">Create</button>

  </form>
  <a href="/drones/"><button>Back</button></a>
</div>