<h2>Create a new drone</h2>

<div>
  <form action="/create" method="POST">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" />

  <label for="name-propellers">propellers:</label>
  <input type="text" name="propellers" id="propellers-input" />

  <label for="maxSpeed-input">maxSpeed:</label>
  <input type="text" name="maxSpeed" id="maxSpeed-input" />



  <button type="submit">Create</button>

</form>

</div>