<h2>Create a new drone</h2>

<form action="/drones/create" method="post">
    <input type="text" name="name" id="" placeholder="Drone Name">
    <input type="number" name="propellers" id="" placeholder="Number of Propellers">
    <input type="number" name="maxSpeed" id="" placeholder="Maximum Speed">
    <button type="submit">Create new Drone</button>

</form>