<h2>Create a new drone</h2>
<form action="create" method="POST">
<h2>Name</h2>
<input type="string" name="name"/>
<h2>Propellers</h2>
<input type="number" name ="propellers"/>
<h2>maxSpeed</h2>
<input type="number" name="maxSpeed"/>
<button type="submit">Enviar</button>
</form>