<h2>Create  the F#ck new drone</h2>

<form action="/drones/create-form" method="POST">
<label>
    Nombre
    <input type="text" name="name">
</label>
<br><br>
<label>
    Propellers
    <input type="text" name="propellers">
</label>
<br><br>
<label>
   MaxSpeed
    <input type="number" name="maxSpeed">
</label>
<button type="submit"> enter</button>
</form>
