<h2>Create a new drone</h2>

<form action="/drones/create" method="post">

    <label for="#">Name:</label>
    <input type="text" name="name">
    <p>
    <label for="#">Propellers: </label>
    <input type="text" name="propellers">
    </p>
    <label for="#" >Max. Speed: </label>
    <input type="text" name="maxSpeed">
    
    <p><button type="submit">Enviar</button></p>

    
</form>