<h2>Create a new drone</h2>

<form method="POST" action="create">
    <h2>Name</h2>
    <input type="string" name="name">
    <h2>Propeller</h2>
    <input type="string" name="propeller">
    <h2>maxSpeed</h2>
    <input type="string" name="maxSpeed">
    
        <button >Submit</button>
</form>