<section class="container">

  <div class="card">

    <h1>Create a new drone</h1>

    <form action="/create-form" method="post">

      <label for="name"><b>Name</b></label>
      <br />
      <input type="text" name="name" id="name" />

      <br />
      <br />

      <label for="propellers"><b>Propellers</b></label>
      <br />
      <input type="number" name="propellers" id="propellers" />

      <br />
      <br />

      <label for="maxSpeed"><b>MAX Speed</b></label>
      <br />
      <input type="number" name="maxSpeed" id="maxSpeed" />

      <br />
      <br />

      <button type="submit" class="custom-button">Add Drone</button>

    </form>

  </div>
</section>