<h2>Create a new drone</h2>

<form action="/books/create" method="POST">
<label>Titulo</label>
<input type="text" name ="name"/>

<br/>

<label>Autor</label>
<input type="number" name ="propellers"/>

<br/>

<label>Descripcion</label>
<input type="number" name ="maxSpeed"/>

<br/>

<label>Rating</label>
<input type="text" name ="imagen"/>

<br/>

<button type="submit">Crear Dron</button>


</form>