<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-gd-6 col-sd-3">
            <h2>Create a new drone</h2>
            <hr>
            <form action="/drones/create-form" method="POST">
                <div class="mb-3 mt-5">
                    <label for="dronName" class="from-label">Name</label>
                    <input type="text" class="form-control" id="dronName" name="name">
                </div>
                <div class="mb-3 mt-5">
                    <label for="dronPropellers" class="from-label">Propellers</label>
                    <input type="number" class="form-control" id="dronPropellers" name="propellers">
                </div>
                <div class="mb-3 mt-5">
                    <label for="dronMaxSpeed" class="from-label">Maximun Speed</label>
                    <input type="number" class="form-control" id="dronMaxSpeed" name="maxSpeed">
                </div>
                <button type="submit" class="btn btn-dark">Crear Dron</button>
            </form>
        </div>
    </div>
</div>