<main>
  <h2>Create a new drone</h2>
  <form action="/create" method="post">
    <label for="name">Drone name</label>
    <input type="text" name="name" id="name" />
    <label for="propellers">Propells amount</label>
    <input type="number" name="propellers" id="propellers" min="3" max="100" />
    <label for="price">Max speed</label>
    <input type="number" name="maxSpeed" id="maxSpeed" min="0" max="10" />
    <label for="price">Price</label>
    <input type="text" name="price" id="price" />
    <label for="rating">Rating</label>
    <input type="number" name="rating" id="rating" min="0" />
    <button type="submit">Create</button>
  </form>
</main>