<h2>Create a new drone</h2>

<form action="/drones/create"
    method="POST">

    <label for="form-label"
        for="name">Name</label>

    <input class="form-control"
        type="text"
        name="name">

    <br>
    <label for="form-label"
        for="propellers">Propellers</label>

    <input class="form-control"
        type="text"
        name="propellers">

    <br>
    <label for="form-label"
        for="maxSpeed">Max speed</label>

    <input class="form-control"
        type="text"
        name="max speed">

    <br>

    <button type="submit">SEND</button>

</form>