
<h2 class="drones-title">Create a new drone</h2>

<div class="drones">
<form action="/create-form" method="post">

<label for="name">Name</label>
<input class="peiding" type="text" name="name" id="name" />
<br>

<label for="propellers">Propellers</label>
<input class="peiding" type="number" name="propellers" id="propellers" />
<br>

<label for="maxSpeed">Max Speed</label>
<input class="peiding" type="number" name="maxSpeed" id="maxSpeed" />
<br>

<button class="peiding" type="submit">Add Drone</button>
</div>

</form>