<h2>Create a new drone</h2>

<form method='post' action='/drones/create'>

    <input type='text' name='name' placeholder="Name"><br>
    <input type='text' name='propellers' placeholder="Propellers"><br>
    <input type='text' name='maxSpeed' placeholder="Max Speed"><br>

    <button type='submit'>Create Drone</button>
</form>