<h2>Create a new drone</h2>

<form action="/drones/create" method="post">

  Name: <input type="text" name="name"> <br>
  Number of propellers: <input type="number" name="propellers"> <br>
  Max speed: <input type="number" name="maxSpeed"> <br>

  <button class="save-button" type="submit">Save</button>
</form>