<h2>Create a new drone</h2>
<div class="update">
    <form action="" method="POST">
        <a>Nombre nuevo dron:</a> <input type:"text" placeholder=" Introduzca DRON" name="name" id="name">
        Número de hélices: <input type:"number" placeholder="Nº Hélices" name="propellers" id="propellers">
        Velocidad máxima: <input type:"number" placeholder="km/h" name="maxSpeed" id="maxSpeed">
        <input type="submit" value="Enviar">



    </form>
</div>