<h2 class="title-page">Create a new drone</h2>
<form class="drone-container" action="/drones/create" method="post">
    <input class="drone-input" type="text" name="name" placeholder="Name">
    <input class="drone-input" type="text" name="propellers" placeholder="Propellers">
    <input class="drone-input" type="text" name="maxSpeed" placeholder="Max Speed">
    <button class="drone-button" type="submit">Create</button>
</form>