<h2>Create a new drone</h2>
<form method='post' action='/drones/create'>
	<div class='mb-3'>
		<label for='name' class='form-label'>Name</label>
		<input name='name' type='text' class='form-control' id='name' />
	</div>
	<div class='mb-3'>
		<label for='propellers' class='form-label'>Propellers</label>
		<input name='propellers' type='number' class='form-control' id='propellers' />
	</div>
	<div class='mb-3'>
		<label for='maxSpeed' class='form-label'>Max speed</label>
		<input name='maxSpeed' type='number' class='form-control' id='maxSpeed' />
	</div>
	<button type='submit' class='btn btn-primary'>Submit</button>
</form>