<div class="container">
  <h2 class="py-3">Create a new drone</h2>
  <form action="/drones/create" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="propellers" class="form-label">Propellers</label>
    <input type="number" class="form-control" id="propellers" name="propellers" required>
  </div>
  <div class="mb-3">
    <label for="maxSpeed" class="form-label">Max speed</label>
    <input type="number" class="form-control" id="maxSpeed" name="maxSpeed" required>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
</div>