<h2>Create a new drone</h2>
<div>
<form method="post" action="/drones/create" class="form">
<label for="name">Name</label>
<input class="input"type="text" id="name" value="drone name">
<label for="propellers">Propellers</label>
<input class="input" id="propellers" value="Numbers of propellers" type="text">
<label for="speed">Speed</label>
<input class="input" id="maxSpeed" value="Maximum Speed" type="text">
<button class="btn">Create Your Dream Drone</button>
</form>
</div>