<h2>Create a new drone</h2>


<form action="/drones/create" method="POST">

    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="propellers">Number of propelars</label>
    <input type="number" id="propellers" name="propellers">

    <label for="maxSpeed">Velocitat</label>
    <input type="number" id="maxSpeed" name="maxSpeed">

    <button type="submit" class="btn btn-dark">Crear nuevo dron</button>


</form>