<h2>Create a new drone</h2>
<hr>

<form action="/drones/create" method="POST">

    <label> Name:
        <input type="text" name="name" />
    </label>

    <label> Propellers:
        <input type="number" name="propellers" min="1" />
    </label>

    <label> Maximum Speed:
        <input type="number" name="maxSpeed" min="1" />
    </label>

    <button type="submit"> Create </button>
</form>