<h2>Create a new drone</h2>
<form method="post" action="/drones/create" >
    <label for="name">name</label>
    <input type="text" name="name" id="name" value="monDrone">
    <label for="propellers">propellers</label>
    <input type="number" name="propellers" id="propellers" value="10">
    <label for="maxSpeed">maxSpeed</label>
    <input type="number" name="maxSpeed" id="maxSpeed" value="15">
    <button>ADD !!!</button>
</form>