<h2 class="form-title">Create a new drone</h2>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form action="/drones/create" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="propellers" class="form-label">Propellers:</label>
                <input type="number" class="form-control" id="propellers" name="propellers">
            </div>
            <div class="mb-3">
                <label for="maxSpeed" class="form-label">Maximum Speed:</label>
                <input type="number" class="form-control" id="maxSpeed" name="maxSpeed">
            </div>
            <button type="submit" class="btn btn-primary">Create drone</button>
        </form>
    </div>
</div>