<h2>Create a new drone</h2>

<form action="/drones/create" method="post">

  <label>
    Name:
    <input type="text" name="name" />
  </label>

  <label>
    Number of propellers:
    <input type="number" name="propellers" />
  </label>

  <label>
    Maximum speed &#40;m/s&#41;:
    <input type="number" name="maxSpeed" />
  </label>

  <button type="submit"> Create </button>

</form>