<h2>Create a new drone</h2>

<form action="/drones/create" method="post">

<label for="name">Name</label>
<input type="text" name="name" id="name">

<label for="propellers">Propellers</label>
<input type="number" name="propellers" id="propellers">

<label for="speed">Speed</label>
<input type="number" name="speed" id="speed">

<button type="submit">Create</button>
</form>