<h2>Create a new drone</h2>

<form action="/drones/create" method="POST">
    <div>
        <label for="name">Name</label>
        <br>
        <input type="text" name="name">
    </div>
    <br>
    <div>
        <label for="propellers">Propellers</label>
        <br>
        <input type="text" name="propellers">
    </div>
    <br>
    <div>
        <label for="maxSpeed">maxSpeed</label>
        <br>
        <input type="text" name="maxSpeed">
    </div>
    <br>
    <button type="submit">Create</button>



</form>