<h2>Create a new drone</h2>
<form action="" method="post">
  <input type="text" name="droneName" id="" placeholder="Name of Drone" />
  <input
    type="number"
    name="propellers"
    id=""
    placeholder="Number of Propellers"
  />
  <input type="number" name="maxSpeed" id="" placeholder="Maximum speed" />
  <br />
  <a href="/drones/create"><button type="submit">Save Drone</button></a>
</form>