<h2>Create a new drone</h2>
<form action="/drones/create" method="post">
<label for="nameInput">Drone name: <input id="nameInput" type="text" name="name"></label><br>
<label for="propellersInput">Number of propellors: <input id="propellersInput" type="text" name="propellers"></label><br>
<label for="maxSpeed">Max speed: <input id="maxSpeed" type="text" name="maxSpeed"></label><br>
<button>Create drone</button>
</form> 