<h2>Create a new drone</h2>


<div>
    <form action="/drones/create" method="post">
        <label for="">Model</label>
        <input type="text" name="name">
        <label for="">Propellers</label>
        <input type="text" name="propellers">
        <label for="">Max Speed</label>
        <input type="text" name="maxSpeed">
        <button type="submit">Create new Drone</button>
    </form>
</div>