<h2>Create a new drone</h2>
<form action="/drones/create" method="POST">
<label>Name</label>
<input type="text" name="name" placeholder="name">
<label>Propellers</label>
<input type="number" name="propellers" placeholder="num of propellers">
<label>Speed</label>
<input type="number" name="speed" placeholder="Max speed">
<button type="submit">Create your Drone</button>
</form>