

<form action="">
    <br>
<div class="mb-3">
<h3 >Name of drone</h3>
<h6>{{name}}</h6>
</div>

<div class="mb-3">
<h3>Propellers</h3>
<h6>{{propellers}}</h6>
</div>

<div class="mb-3">
<h3>Speed</h3>
<h6>{{maxSpeed}}</h6>
</div>

<button class="btn btn-primary" type="submit">Save</button>

</form>
<br>
<a href="/drones">Go to list drone</a>