<h2>Drone Detail</h2>

<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Name: {{drone.name}}</h5>
            <p class="card-text">Proppeler: {{drone.propellers}}</p>
            <p class="card-text">Max Speed: {{drone.maxSpeed}}</p>
            <a href="/drones" class="btn btn-primary">Back to Drones List</a>
            </div>
        </div>
    </div>
</div>