<h1>Details</h1>

<div>
<hr>
    <h3> {{name}} </h3>
    <h3> Number of propellers:{{propellers}} </h3>
    <h3> Speed:{{maxSpeed}} </h3>

    <a href="/drones/">Back to Drones</a>
    
</hr>  
    
</div>
