<div class='wrapper'>
	<h2>{{name}}</h2>
	<b>Propellers: </b>
	<p>{{propellers}}</p>
	<b>Max Speed: </b>
	<p>{{maxSpeed}}</p>

	<a href='/drones/{{_id}}/edit' class='orange big'>Edit</a>
	<a class='big' href='/drones'>Go Back</a>
</div>
