<section class="drone-details">
        
    <div class="drone-main-details">
            <h2>{{name}}</h2>
            Propellers: {{propellers}} <br>
            Max speed: {{maxSpeed}} <br>
            <a href="/drones/{{_id}}/edit">Edit</a>
            <a href="/drones">Back</a>
</div>
</section>

