

<h2>Available drones</h2>

<ul>
    {{#each drones as | drone| }}

        <li>

            {{drone.name}}
            {{drone.propellers}} propellers
            {{drone.maxSpeded}} m/s

        </li>


    {{/each}}

</ul>