<h2>Available drones</h2>

<ul>
    {{#each drones}}
    <li>
        <p> {{this.name}}</p>
        <p> Propellers: {{this.propellers}}</p>
        <p> Maximum Speed: {{this.maxSpeed}} meters per second</p>
        <a href="drones/{{this._id}}/edit">Edit this drone</a>
    </li>
    {{/each}}
</ul>