<h2>Available drones</h2>
<ul>
  {{#each drones as |drone|}}
    <li>
      <p>Name: {{drone.name}}</p>
      <p>Amount of propellers: {{drone.propellers}}</p>
      <p>Max speed: {{drone.maxSpeed}}</p>
      <a href="/drones/{{drone.id}}/edit">Edit</a>
    </li>
  {{/each}}
</ul> 