<h2>Available drones</h2>
{{#each drone}}
<div>
    <span>Name : {{name}} </span>
</div>
<div>
    <span>Propellers:{{propellers}} </span>
</div>
<div>
    <span>Speed:{{maxSpeed}} </span>
</div>
<hr>
{{/each}}

