<h2>Available drones</h2>

<div>
    {{#each drones}}
        <p>Name: {{ this.name }}</p>
        <p>Propellors: {{ this.propellers }}</p>
        <p>Max Speed: {{ this.maxSpeed }}</p>
        <hr>
    {{/each}}
    <br>
</div>