<h2>Available drones</h2>

<div>
{{#each drones}}
        <div>
            <h3>{{ this.name }}</h3>
            <p>Propellers: {{ this.propellers }}</p>
            <p>Speed: {{ this.maxSpeed }} MPH</p>
        </div>
{{/each}}

</div>