<h2>Available drones</h2>
{{#each dronesArr}}
    <h3>Name: {{this.name}}</h3>
    <p>Propellers: {{this.propellers}}</p>
    <p>Maximum Speed: {{this.maxSpeed}}</p>

    <form action="/drones/{{_id}}/delete" method="POST">
        <button>Delete</button>
    </form>
{{/each}}