
<div class="container">
  <h2 class="">Available drones</h2>
  <div class="">
    {{#each drones}}
      <div class="">
       <a href="/drones/{{_id}}"> 
        <div class="">
        <h5>{{name}}</h5>
        <h5>{{propellers}}</h5>
        <h5>{{speed}}</h5>
        </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>