<h2>Available drones</h2>

<main>
        {{#each drones }}
        <hr>
        <p>Name: {{ name }}</p>
        <p>Propellers:{{ propellers }}</p>
        <p>MaxSpeed:{{ maxSpeed }}</p>
        

        {{/each}}

</main>

<br>
<button href="/index">Back</button>