<section>

  <h1>Available drones</h1>
  {{#each drones}}

    <div>

      <h2>{{this.name}}</h2>
      <h3>{{this.propellers}}</h3>
      <h3>{{this.maxSpeed}}</h3>
      <button> <a href="/drones/{{_id}}/edit">Edit</a></button>
    </div>

  {{/each}}

</section>