<h2>Available drones</h2>
{{#each DroneList}}
<h2>{{this.name}}</h2>
<p>Tiene {{this.propellers}} este dron</p>
<p>Su velocidad maxima es {{this.maxSpeed}}</p>
<a href="/drones/{{this.id}}/edit">Editar</a>
{{/each}}