<h2>Available drones</h2>
<p>{{DroneModel}}</p>
{{!-- <ul>
    {{#each drones}}
    <li>
        <h2>Name: {{this.name}}</h2>
        <h2>Propellers :{{this.propellers}}</h2>
        <h2>Max Speed : {{this.maxSpeed}}</h2>
    </li>
    {{/each}}
</ul> --}}