<h2>Available drones</h2>

    <ul>
          {{#each drones}}
          <li>Name: {{ this.drones.name}}</li>
          <li>Propellers: {{ this.drones.propellers}} </li>
          <li>Speed: {{ this.drones.maxSpeed}}  </li>
    </ul>
  