<h2>Available drones</h2>

<div>
{{#each drones}}
        <div>
            <h3>{{ this.name }} </h3>
            <p>Propellers: {{ this.propellers }}</p>
            <p>Speed: {{ this.maxSpeed }} MPH</p>
            <a href="/drones/{{id}}/edit">Update Drone</a>
        </div>
{{/each}}



</div>