<h2>Available drones</h2>
{{#each drones}}
<div class="drone-info">
    <p>Name: {{name}}</p>
    <p>Propellers: {{propellers}}</p>
    <p>Speed: {{maxSpeed}}</p>
    <a href="/drones/{{_id}}/edit">Edit</a>
</div>
{{/each}}

<a href="/drones/create">Create new drone</a>