<table>
    <thead>
        <tr>
            <th>Available Drones</th>
            <th>Maximum Speed</th>
            <th>Propellers</th>
        </tr>
    </thead>
    <tbody>
            {{#each drones}}
        <tr>
            <td>{{name}}</td>
            <td>{{maxSpeed}}</td>
            <td>{{propellers}}</td>
            <td><a href="/drones/{{_id}}/edit">edit drone</a></td>
        </tr>
            {{/each}}
    </tbody>
</table>