<h1>Available drones</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {{#each drones}}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{name}}</h2>
          <h3 class="card-subtitle mb-2 text-body-secondary">{{propellers}}</h3>
          <h3 class="card-subtitle mb-2 text-body-secondary">{{maxSpeed}}</h3>
        </div>
      </div>
    </div>
  {{/each}}
</div>