<h2>Available drones</h2>

{{#each myDrones}}
<div> <b>Drone:</b>  {{this.name}}</div>
<div> <b>Number of propellers:</b>  {{this.propellers}}</div>
<div> <b>Max speed:</b>  {{this.maxSpeed}}</div> <br>
<div><a href="drones/{{this._id}}/edit">Edit</a></div>
<div>&nbsp;</div>
{{/each}}
