<h2>Available drones</h2>

{{#each drones}}
   <p>
    <ul>
        <li>
            name: {{this.name}}
        </li>
        <li>propellers:{{this.propellers}}</li>
         <li>max speed:{{this.maxSpeed}}</li>
    </ul>
   </p> 
{{/each}}

