<h2>Available drones</h2>

{{#each drones}}
<div>
    <h4>{{name}}</h4>
    <a href="/drones/{{_id}}">view more</a>
    <form action="/drones/{{_id}}/delete" method="POST">
        <button type="submit">delete</button>
    </form>
</div>

{{/each}}
<a href="/drones/create">New Drone</a>