<h2>Available drones</h2>

<div>
    <div class="row">
    {{#each drone}}
     <div class="col-md-4">
  <div class="card m-2">
    <div class="card-body">
      <h2 class="card-title">Drone Name: {{this.name}}</h2>
      <h3>Propellers: {{this.propellers}}</h3>
      <p>Max Speed: {{this.maxSpeed}}</p>
      <a href="/drones/{{this._id}}/edit" class="btn btn-primary">Edit info</a>
    </div>
  </div>
</div>
    {{/each}}
  </div>
</div>