<h2>Available drones</h2>

{{#each drone}}

    <section>
        <h3>{{this.name}}</h3>
        <p>
            <strong>Propellers: </strong> {{this.propellers}} <br />
            <strong>Speed: </strong> {{this.maxSpeed}} <br />
        </p>
    </section>
    <hr />

{{/each}}