<h2>Available drones</h2>
<ul>
  {{#each drones}}
    <li>Name:
      {{name}}
      | Propellers:
      {{propellers}}
      | Max Speed:
      {{maxSpeed}}
      (<a href="/drones/{{_id}}/edit">edit</a>)</li>
  {{/each}}
</ul>