<h2>Available drones</h2>
{{#each drones}}
  <div>
    <h2>Name: {{this.name}}</h2>
    <p>Propellers: {{this.propellers}}</p>
    <p>Max Speed: {{this.maxSpeed}}</p>
    <a href="/drones/{{this._id}}/edit">Edit drone</a>
  </div>
{{/each}}

<form action="/drones/create" method="GET">
  <button type="submit">Create another drone</button>
</form>