<div class='anchor'>
	<a class='big' href='/drones/create' style='margin-top: 2rem;'>Create Drone</a>
</div>
<div id='dronesWrapperDiv'>

	{{#each drones}}
		<div class='drone'>
			<h3> {{name}}</h3>
			<div>
				<a href='/drones/{{_id}}'>Details</a>
				<a href='/drones/{{_id}}/edit' class='orange'>Edit</a>
				<form action='/drones/{{_id}}/delete' method='POST'>
					<button class='red'>Delete</button>
				</form>

			</div>
		</div>
	{{/each}}

</div>
<div class='anchor' style='padding-bottom: 2rem;'>
	<a href='/'>Go Back</a>
</div>
