<h2>Available drones</h2>

<ul>
    {{#each allDrones}}
        <li>
            <h3>Drone Name: {{name}}</h3>
            <p>Number of Propellers: {{propellers}}</p>
            <p>Maximum Speed: {{speed}}</p>
        </li>
    {{/each}}
</ul>