<h2>Available drones</h2>

<div>
    {{#each drones as |drone|}}
    <h3>{{drone.name}}</h3>
    <p>Propellers: {{drone.propellers}}</p>
    <p>Max Speed: {{drone.maxSpeed}}</p>
    <a href="/drones/{{drone.id}}/edit">Edit Info</a>
    {{/each}}
</div>