<h2>Available drones</h2>


{{#each drones}}
      <section >
          <h2>{{this.name}}</h2>
          <h2> {{this.propellers}}€</h2>
         <h2> {{this.maxSpeed}}€</h2>
         

          
      </section>
  {{/each}}
