<h2>Available drones</h2>
<hr>
{{#each drones}}
    <p>Name: {{name}}</p>
    <p>Propellers: {{propellers}}</p>
    <p>Max Speed: {{maxSpeed}}</p>
    <hr>
{{/each}}
<a href="/drones/create">Create a dron</a>