<h2>Available drones</h2>

<ul>
        
    {{#each drones}}
        <li>name: <b>{{name}}</b></li>
        <li>No. of Propellers: {{propellers}}</li>
        <li>Maxspeed: {{maxSpeed}}</li>
        <br>
    {{/each}}

</ul>
<p><a href="/">Go Home</a></p>
<p><a href="/drones/create">Create a new one</a></p>