<section>
  <h2>Available drones</h2>
  <div>
    {{#each droneInDB}}
    <div>
      <p><b>Name: </b>{{name}}</p>
      <p><b>Propellers: </b>{{propellers}}</p>
      <p><b>Speed (m/s):</b>{{speed}}</p>
    </div>
    {{/each}}
  </div>

  <a href="/">Back</a>
</section>