<h2>Available drones</h2>
<div>
    {{#each drones}}
    <div>
        <h3>{{this.name}}</h3>
            <li>Propellers: {{this.propellers}} </li>
            <li>Speed: {{this.maxSpeed}} </li>
        <a href="/drones/{{this._id}}/edit">Edit info</a>
    </div>
    {{/each}}
</div>

<div class="create-drone">
<a href="/drones/create">Create a new drone</a>
</div>