<h2 style="text-align: center; padding-top: 20px" >Available drones</h2>

<div class="wrap-container">
    {{#each data}}
        {{> dronePartial this}}
    {{/each}}
</div>
<a href="/drones/create"><button class="glow buttonHome">ADD DRONES!</button></a>