<h2>Available drones</h2>
<a href="/drones/create">Add new drone</a>
{{#each drones }}
    <p>Name: {{ name }}</p>
    <p>Propellers: {{ propellers }}</p>
    <p>Speed: {{ maxSpeed }}</p>
    <a href="/drones/{{id}}/edit">Edit</a>
{{/each}}