<h2>Available drones</h2>
<hr>

{{#each data}}
<div>
    <h3>{{ name }}</h3>
    <p>{{ propellers }}</p>
    <p>{{ maxSpeed }}</p>
    <a href="/drones/{{_id}}/update-form">Editar</a>
</div>
{{/each}}
