<h2>Available drones</h2>

<ul>
    {{#each drones}}
    <li><b>Name</b> : {{this.name}},</br> <b>Propellers</b>: {{this.propellers}},</br> <b>Max speed</b> :{{this.maxSpeed}}.</li>
    <button class="btn"><a href="/drones/{{this._id}}/edit">Drone's info</a></button></ul>
    {{/each}}
</ul></br>
<button><a href='/'>Home page</a></button>