<h2>Available drones @list.hbs</h2>

{{#each droneArr}}
    <p>Name: {{this.name}}</p>
    <p>Propellers: {{this.propellers}}</p>
    <p>Speed: {{this.maxSpeed}}</p>
    <a href="/drones/{{_id}}/edit" >Edit</a>
    <hr>
{{/each}}