<h2>Available drones</h2>

<a href="/drones/create">Create new Drone here</a>

{{#each drones}}
    <p>Name: {{name}}</p>
    <p>Propellers: {{propellers}}</p>
    <p>MaxSpeed: {{maxSpeed}}</p>
    <br>
    <a href="/drones/{{_id}}/edit">Edit</a>
    <hr>
{{/each}}