<h2>Available Drones</h2>

<ul>
{{#each dronesfound}}
<li> <h3>Name: {{this.name}} </h3> </li>
<li> <p>Propellers: {{this.propellers}} </p> </li>
<li> <p>Speed: {{this.maxSpeed}} </p> </li> 
{{/each}}
</ul>
