<div>
    <title>Drones List</title>
    <h2>Available drones</h2>
    {{#each drones}}
    <p>{{this.name}}</p>
    <p>{{this.propellers}}</p>
    <p>{{this.maxSpeed}}</p>
    {{/each}}
    <a href="/drones/create">
        <button type="button">Add new drone</button>
    </a>
    
</div>