<h2>Available drones</h2>
<div class="drone-wrapper">
    {{#each allDrones}}
    <h3>{{this.name}}</h3>
    <p>Specs</p>
    <ul>
        <li>Propellors:{{this.propellors}}</li>
        <li>Speed: {{speed}} KM/H</li>
    </ul>
    {{/each}}
</div>