<h2>Available drones</h2>

{{#each myDrones}}

<p>{{this.name}}</p>
<p>{{this.propellers}}</p>
<p>{{this.maxSpeed}}</p>
<button type="submit"><a href="/drones/{{this._id}}/edit">Edit</a></button>
{{/each}}

