<h2>Available drones</h2>

{{log dronesArray}}

{{#each dronesArray}}
  <section>
    <h3>{{this.name}}</h3>
    <p>
      Propellers:
      {{this.propellers}}
      <br />
      Max Speed:
      {{this.maxSpeed}}
      <br />
    </p>
  </section>
{{/each}}