<h1>{{title}}</h1>
<div id="drone-container"> 
{{#each drones}}
<div class="drone-card">
<p><b>{{name}}</b></p>
<p>Propellers: {{propellers}}</p>
<p>Max Speed: {{maxSpeed}}</p>
</div>
{{/each}}
</div>