<h2>Available drones</h2>
{{#each drone}}
    <h3>{{name}}</h3>
    <ul>
        <li>Number of propellers: {{propellers}}</li>
        <li>Max Speed: {{maxSpeed}}</li>
    </ul>
    <div>
        <a href="/drones/{{_id}}/edit">Edit This Drone</a>
    </div>
{{/each}}
