<h2>Available drones</h2>
{{#each this}}
{{#with this}}
{{#if name}}
<div>
    <h3>{{name}}</h3>
    <ul>
        <li>Propellers: {{propellers}}</li>
        <li>Max. Speed: {{maxSpeed}}km/h</li>
    </ul>
    <a href="/drones/{{_id}}/edit">Edit</a>
</div>
{{/if}}
{{/with}}
{{/each}}
<a href="/drones/create">Create a drone</a>