<h2>Available drones</h2>


{{#each data}}
        <p>
      name:
      {{name}}
      <br />
      propellers:
      {{propellers}}
      <br />
      maxSpeed:
      {{maxSpeed}}
      <br />
      <a href="/drones/{{_id}}/edit">edit</a>
    </p>

{{/each}}