<h2>Available drones</h2>

{{#each droneArr}}
  <section class="drone-summary">
    <h2>{{this.name}}</h2>
    <p>
      Author:
      {{this.propellers}}
      <br />
      Rating:
      {{this.maxSpeed}}
      <br />
      <a href="">More details</a>
    </p>

  </section>
{{/each}}