{{#if isDelete}}
<h1>The {{drone.name}} has been deleted from the list</h1>

{{else if isUpdate}}
<h1>The {{drone.name}} has been updated</h1>

{{else}}
<h1>Congratulations!! you have created a new Drone!!</h1>

{{/if}}

<a href="/drones"><button>Back to Drones</button></a>