{{#if isDelete}}
  <h1>A drone has been deleted.</h1>
{{else if isEdit}}
  <h1>A drone has been updated.</h1>
{{else}}
  <h1>Congratulations! {{name}} has been created.</h1>
{{/if}}
<br />
<ul>
  <li><a href="/drones/">Go back to drone's list</a></li>
</ul>