<h2>Update the drone</h2>
<form action="edit" method="POST" >
<h2>Name</h2>
<input type="string" name="name" placeholder="{{name}}"/>
<h2>Propellers</h2>
<input type="number" name ="propellers" placeholder="{{propellers}}"/>
<h2>maxSpeed</h2>
<input type="number" name="maxSpeed" placeholder="{{maxSpeed}}"/>
<button type="submit">Enviar</button>
</form>