<h2>Update the drone</h2>

<form action="" method="post">
  <input
    type="text"
    name="droneName"
    id=""
    placeholder="Name of Drone"
    value="{{drone.name}}"
  />
  <input
    type="number"
    name="propellers"
    id=""
    placeholder="Number of Propellers"
    value="{{drone.propellers}}"
  />
  <input
    type="number"
    name="maxSpeed"
    id=""
    placeholder="Maximum speed"
    value="{{drone.maxSpeed}}"
  />
  <br />
  <a href="/drones/create"><button type="submit">Update Drone</button></a>
</form>