<h2>Update the drone</h2>


<form action="/drones/update-form/{{ id }}/edit" method="POST">
    <label> Name:
        <input type="text" name="name" />
    </label>

    <label> Propellers:
        <input type="text" name="propellers" />
    </label>

    <label> Max Speed:
        <input type="number" name="max-speed" />
    </label>


    <button type="submit"> Update </button>
</form>