<h2>Update the drone</h2>
<form method="POST" action="/drones/{{drone.id}}/edit">
<label for="name"></label>
<input type="text" name="name" value="{{drone.name}}"/>
<label for="propellers"># of Propellers</label>
<input type=number value="{{drone.propellers}}" name ="name"/>
<label for="maxSpeed">Maximum Speed</label>
<input type="number" value="{{drone.maxSpeed}}" name="maxSpeed"/>
<button type="submit">Update</button>
</form>