<h2>Update the drone</h2>

<form method="post" action="/drones/{{drone._id}}/edit">
    {{!-- NAMES attributes ARE MANDATORY --}}
    <p>
        <label for="">name</label>
        <input name="name" type="text" value="{{drone.name}}">
    </p>
    <br>
    <p>
        <label for="">propellers</label>
        <input name="propellers" type="number" value="{{drone.propellers}}" pattern="[0-9]+">
    </p>
    <br>
    <p>
        <label for="">maxSpeed </label>
        <input name="maxSpeed" type="number" value="{{drone.maxSpeed}}">
    </p>
    <button>ok</button>
</form>