<h2>Update the drone</h2>

{{#with drone}}
<form action="/drones/{{_id}}/edit" method="POST">
  <label for="name">Drone name
    <input type="text" name="name" id="name" value="{{name}}">
  </label>
  <label for="propellers">Number of propellers
    <input type="number" name="propellers" id="propellers" value={{propellers}}>
  </label>
  <label for="max-speed">Max speed
    <input type="number" name="maxSpeed" id="max-speed" value={{maxSpeed}}>
  </label>
  <button type="submit">Update drone</button>
</form>
{{/with}}