<h2>Update the drone</h2>

<div class="form-container">
<form action="/drones/{{body._id}}/edit/" method="POST">
  <div class="form-group">
    <label for="nameLabel">Name</label>
    <input type="text" name="name" class="form-control" id="nameLabel" value="{{body.name}}">
  </div>
  <div class="form-group">
    <label for="propellersLabel">Propellers</label>
    <input type="number" name="propellers" class="form-control" id="propellersLabel">
  </div>
   <div class="form-group">
    <label for="maxSpeedLabel">Speed</label>
    <input type="number" name="maxSpeed" class="form-control" id="maxSpeedLabel">
  </div>
  <button type="submit" class="btn btn-dark">Create</button>
</form>