<h2>Update the drone</h2>

<form method="POST" action="/drones/{{drones._id}}/edit" >
  <div class="form-group">
    <label for="droneName">Name</label>
    <input name="name" type="text" class="form-control" id="droneName" aria-describedby="emailHelp" value="{{drones.name}}">
  </div>
  <div class="form-group">
    <label for="droneProp">Number of propellers</label>
    <input name="propellers" type="number" class="form-control" id="droneProp" value="{{drones.propellers}}">
  </div>
  <div class="form-group">
    <label for="droneSpeed">Max speed</label>
    <input name="maxSpeed" type="number" class="form-control" id="droneSpeed" value="{{drones.maxSpeed}}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>