<h2>Update the drone</h2>

<form action="/drones/{{drone._id}}/edit" method="POST">
    <input type="text" name="name" value="{{drone.name}}" placeholder="Drone's name">
    <input type="number" name="propellers" value="{{drone.propellers}}" placeholder="Propellers">
    <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}" placeholder="Maximum speed">

    <button type="submit">Submit</button>
</form>