<h2>Update the drone</h2>
<form action="/drones/{{_id}}/edit" method="post">
    <label>
        Name:
        <input type="text" name="name" value={{name}}>
    </label>
    <label>
        # Propellers:
        <input type="number" name="propellers" value={{propellers}}>
    </label>
    <label>
        Max Speed:
        <input type="number" name="maxSpeed" value={{maxSpeed}}>
    </label>
    <button type="submit">Update Drone</button>
</form>