<h2>Update drone</h2>

<form action="/drones/{{droneInfo.id}}/edit" method="post">
  <label>
    Name:
    <input type="text" name="name" value="{{droneInfo.name}}" />
  </label>

  <label>
    Number of propellers:
    <input type="number" name="propellers" value="{{droneInfo.propellers}}" />
  </label>

  <label>
    Max speed
    <input type="number" name="maxSpeed" value="{{droneInfo.maxSpeed}}" />
  </label>

  <button type="submit"> Update </button>
</form>