<!--Iteration #4.2: Update the drone-->
<h2>Update the drone</h2>
<form action="/drones/{{drone.id}}/edit" method="POST">
    <div>
        <input type="text"  name="name" placeholder="Name" value="{{drone.name}}">
    </div>
    <div>
        <input type="text" name="propellers" placeholder="Propellers" value="{{drone.propellers}}">
    </div>
    <div>
        <input type="text" name="maxSpeed" placeholder="Max Speed" value="{{drone.maxSpeed}}">
    </div>
    <button type="submit">Modify</button>
</form>