<h2>Update the drone</h2>

<form action="/drones/{{_id}}edit" method="POST">

<input type="text" name="name" value={{name}} ></input>
<input type="number" name="propellers" value={{propellers}} ></input>
<input type="number" name="maxSpeed" value={{maxSpeed}} ></input>

<button type="submit">Update Drone</button>
</form>