<div>
    <h2>Update the drone</h2>
    <form action="/drones/{{drone._id}}/edit" method="POST">
        <label for="name">Name;</label>
        <input id="name" name="name" type="text"  placeholder={{drone.name}}/>
        <label for="propellers">Propeller:</label>
        <input id="propellers" name="propellers" type="Number"  placeholder={{drone.propellers}}/>
        <label for="maxSpeed">Speed max:</label>
        <input id="maxSpeed" name="maxSpeed" type="Number" placeholder={{drone.maxSpeed}}/>
        <button type="submit">Send</button>
    </form>
</div>
