<head>
  <link rel="stylesheet" href="/stylesheets/form.css" />
</head>

<main>
  <div class="title-and-links">
    <h2>Update the drone</h2>
    <div class="links">
      <a href="/">Homepage</a>
      <a class="long-link" href="/drones">Drones List</a>
    </div>
  </div>

  <section class="form">

    <form action="/drones/{{_id}}/edit" method="post">

      <label for="name">Name of the Drone:</label>
      <input type="text" name="name" id="name" value="{{name}}" />

      <label for="propellers">Number of Propellers:</label>
      <input
        type="number"
        name="propellers"
        id="propellers"
        value="{{propellers}}"
      />

      <label for="maxSpeed">Its maximum speed is:</label>
      <input type="number" name="maxSpeed" id="maxSpeed" value="{{maxSpeed}}" />

      <div class="form-button-div">
        <button class="form-button" type="submit">Update</button>
      </div>

    </form>
  </section>
</main>