<h2>Update the drone</h2>

<form action="/drones/{{drone._id}}/edit" method="post">
  <label>
    Name:
    <input type="text" name="name" value="{{drone.name}}" />
  </label>

  <label>
    Number of propellers:
    <input type="number" name="propellers" value="{{drone.propellers}}" />
  </label>

  <label>
    Maximum speed &#40;m/s&#41;:
    <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}" />
  </label>

  <button>Save changes</button>
</form>