<h2>Update the drone</h2>
<form action="/drones/{{drone._id}}/edit" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="{{drone.name}}" required>
     <label for="propellers">Propellers:</label>
    <input type="text" id="propellers" name="{{drone.propellers}}" required>
     <label for="maxSpeed">Max Speed:</label>
    <input type="text" id="maxSpeed" name="{{drone.maxSpeed}}" required>

<button type="submit">Update</button>
</form>
