<h2>Update the drone</h2>

<form action='/drones/{{_id}}/edit' method="POST">
    <label for=''>Name</label><br>
    <input type='text' name='name' value="{{name}}">

    <br>
    <label for=''>Number of propellers</label><br>
    <input type='number' name='propellers' value="{{propellers}}">

    <br>
    <label for=''>Maximum speed (in m/s)</label><br>
    <input type='number' name='maxSpeed' value="{{maxSpeed}}">

    <br>
    <br>
    <button type='submit'>Update</button>
</form>

<br>
<br>
<a href="/drones">
  <button>Go back to drones list</button>
</a>