<h2>Update the drone</h2>

<form action="/drones/{{droneInfo.id}}/edit" method="post">
  <label> Name:
    <input type="text" name="name" value="{{droneInfo.name}}" />
  </label>
 
  <label> Propellers:
    <input type="text" name="propellers" value="{{droneInfo.propellers}}"  />
  </label>

  <label> Speed:
    <input type="number" name="maxSpeed" min="1" max="1000" value="{{droneInfo.maxSpeed}}"/>
  </label>
 
  <button>Update!</button>
</form>