<h2>Update the drone</h2>

<form action="/drones/{{drone.id}}/edit" method="POST">
<div>
    <label for="name"> Drone's name </label>
<input type="text" name="name" id="name" value="{{drone.name}}">
</div>

<div>
    <label for="propellers"> Number of propellers </label>
<input type="number" name = "propellers" id="propellers" value="{{drone.propellers}}">
</div>

<div>
    <label for="maxSpeed"> Max speed </label>
<input type="number" name ="maxSpeed" id = "maxSpeed" value="{{drone.maxSpeed}}">
</div>

<button type="submit">Update the Drone!</button>
</form>