<h2>Editar el drone</h2>

<form action="/drones/{{_id}}/edit" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="mb-3 col-auto">
                    <label for="name"" class=" form-label">Nombre del drone</label>
                    <input type="text" class="form-control" id="name" name="name" value= {{name}}>
                </div>
                <div class="mb-3">
                    <label for="propellers" class="form-label">Numero de elices</label>
                    <input type="text" class="form-control" id="propellers" name="propellers" value = {{propellers}}>
                </div>
                <div class="mb-3">
                    <label for="maxSpeed" class="form-label">Velocidad maxima</label>
                    <input type="text" class="form-control" id="maxSpeed" name="maxSpeed" value = {{maxSpeed}}>
                </div>
                <button type="submit" class="btn btn-dark">Editar</button>
            </div>
        </div>
    </div>
</form>