<h2>Update the drone</h2>

<section>
    
<form action="/drones/{{banana._id}}/edit" method="Post">
<label >
    Name:
    <input type="text" name="name" value="{{banana.name}}">
</label>
<label >
    Propellers:
    <input type="number" name="propellers" value="{{banana.propellers}}">
</label>
<label>
    Max Speed:
    <input type="number" name="maxSpeed" value="{{banana.maxSpeed}}">
</label>
<button type="submit">Submit</button>
</form>

</section>