<h2>Update the drone</h2>
<form action="/drones/{{_id}}/edit" method="POST">

    <label>
        Name
        <input type="text" name="name" value="{{name}}">
    </label>

    <br><br>

    <label>
        Propellers
        <input type="text" name="Propellers" value="{{propellers}}">
    </label>

    <br><br>

    <label>
        MaxSpeed
        <input type="text" name="maxSpeed" value="{{maxSpeed}}">
    </label>


    <input type="submit" value="Crear drone">
</form>