<h2>Update the drone</h2>



<form method="post" action="/drones/{{drones._id}}create" class="form">
    <label for="name">name</label>
    <input class="input" type="text" id="name" name="name" value={{drones.name}}>
    <label for="propellers">propellers</label>
    <input id="propellers" class="input" type="number" name={{drones.propellers}}>
    <label for="maxSpeed">Maximum speed</label>
    <input id="max-speed" class="input" type="number" name={{drones.maxSpeed}}>
    <button class="btn">ok !</button>
</form>

