<h2>Update the drone</h2>
<form action="/{{droneToEdit.id}}/edit" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="{{droneToEdit.name}}" />
  <label for="propellers">Number of Propellers</label>
  <input
    type="text"
    name="propellers"
    id="propellers"
    placeholder="{{droneToEdit.propellers}}"
  />
  <label for="maxSpeed">Maximum Speed</label>
  <input
    type="text"
    name="maxSpeed"
    id="maxSpeed"
    placeholder="{{droneToEdit.maxSpeed}}"
  />
  <button type="submit">Edit</button>
</form>