<h2>Update the drone</h2>

<form action="/drones/{{drone.id}}/edit" method="post">
<label>
    Name:
    <input type="text" name="name" id="name" value="{{drone.name}}">
</label>

<label>
    Propellers:
    <input type="text" name="propellers" id="propellers" value="{{drone.propellers}}">
</label>

<label>
    Speed:
    <input type="text" name="maxSpeed" id="maxSpeed" value="{{drone.maxSpeed}}">
</label>

<button type="submit">Edit</button>


</form>