<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="POST">
    <label>
        Name
        <input type="text" name="name" value="{{name}}">
    </label>
    <br>
    <label>
        Propellers
        <input type="number" name="propellers" value="{{propellers}}">
    </label>
    <br>
    <label>
        Speed
        <input type="number" name="maxSpeed" value="{{maxSpeed}}">
    </label>
    <br>
    <button type="submit">Submit</button>
</form>
<br>
<a href="/drones">Go back to the list</a>