<h2>Update the drone</h2>
<form action="/drones/{{drone._id}}/edit" method="POST">
<label for="name">Name
<input type="text" name="name" value="{{drone.name}}">
</label>
<label for="propellers">Propellers
<input type="text" name="propellers" value="{{drone.propellers}}">
</label>
<label for="maxSpeed">Maximun Speed
<input type="text" name="maxSpeed" value="{{drone.maxSpeed}}">
</label>
 <button type="submit">Submit Edit</button>
</form>