<h2>Update the drone</h2>
<form action="/drones/{{id}}/update" method="POST">
  <label for="name">
    Name:
    <input type="text" name="name" id="name" value="{{drone.name}}" />
  </label>
  <br />
  <label for="propellers">
    Nº of propellers:
    <input
      type="number"
      name="propellers"
      id="propellers"
      value="{{drone.propellers}}"
    />
  </label>
  <br />
  <label for="maxSpeed">
    Max. speed:
    <input
      type="number"
      name="maxSpeed"
      id="maxSpeed"
      value="{{drone.maxSpeed}}"
    />
  </label>
  <br />
  <button type="submit">Update drone</button>
</form>