<div class="container">

    <h2>Do you really want to edit our fantastic drone?</h2>
    <p>Well, feel free to modify it</p>

    <form action="/drones/{{id}}/edit" method="POST">
        <label>
            <p>Drone's name</p> 
            <input type="text" name="name" value="{{name}}">
        </label>
        <br>
        <label>
            <p>Number of propellers</p> 
            <input type="number" name="propellers" value="{{propellers}}">
        </label>
        <br>
        <label>
            <p>Max speed</p> 
            <input type="number" name="maxSpeed" value="{{maxSpeed}}">
        </label>
        <hr>
        <input class="btn btn-dark" type="submit" value="Create your drone!">

    </form>
</div>