<section>
  <h1>Update Drone</h1>
  
  <hr class="mt-0" />

  <form action="/drones/{{drone.id}}/edit" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" type="text" class="form-control" id="title" placeholder="Enter name" value="{{ drone.name }}">
     </div>

    <div class="form-group">
      <label for="propellers">Propellers</label>
      <input name="propellers" type="text" class="form-control" id="propellers" placeholder="Enter propellers" value="{{ drone.propellers }}">
     </div>

     <div class="form-group">
      <label for="maxSpeed">MaxSpeed</label>
      <input name="maxSpeed" type="text" class="form-control" id="maxSpeed" placeholder="Enter maxSpeed" value="{{ drone.maxSpeed }}">
     </div>

    <button type="submit" class="btn btn-primary">Edit Drone</button>
  </form>
</section>