<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="post">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" value="{{name}}"/>

  <label for="propellers-input">Propellers:</label>
  <input type="text" name="propellers" id="propellers-input" value="{{propellers}}"/>

  <label for="maxspeed-input">Maximum Speed:</label>
  <input type="text" name="maxSpeed" id="maxspeed-input" value="{{maxSpeed}}"/>

  <button type="submit">Save changes</button>

</form>