<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method='POST'>

  <label for=''>Name</label>
  <input type='text' name='name' value="{{name}}"> 
  <br>
  <label for=''>Propellers</label>
  <input type='number' name='propellers' value={{propellers}}>

  <br>
  <label for=''>Max Speed</label>
  <input type='number' name='maxSpeed' value={{maxSpeed}}>

  <br>
  <button type='submit'>Save edits</button>
</form>