<h2>Update the drone</h2>
   {{#with drone}}
    <form action="/drones/{{_id}}/update" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id="name">
        <label for="propellers">propellers</label>
        <input type="text" name="propellers" id="propellers">
        <label for="maxSpeed">maxSpeed</label>
        <input type="text" name="maxSpeed" id="maxSpeed">
        <button type="submit">Edit Drone</button>
    </form>    
    
    <h3>Name: {{name}}</h3>
    <p>Propellers: {{propellers}}</p>
    <p>Max. Speed: {{maxSpeed}}</p>
    {{/with}}