<h2>Update the drone</h2>

<form method='POST' action='/drones/{{drone.id}}/edit'>

  <label for='name'>Name</label>
  <input type='text' name='name' value='{{drone.name}}' />

  <label for='propellers'>Nº of propellers</label>
  <input type='number' name='propellers' value='{{drone.propellers}}' />

  <label for='maxSpeed'>Max. speed</label>
  <input
    type='number'
    name='maxSpeed'
    value='{{drone.maxSpeed}}'
    min='1'
    max='20'
  />

  <button type='submit'>Update</button>

</form>