<h2>Update the drone</h2>
<form action="/drones/{{_id}}/edit" method="post">
    <label for="">
        Name: <input type="text" name="name" value="{{name}}">
    </label>
    <label for="">
        Propeller: <input type="number" name="propellers" value="{{propellers}}">
    </label>
    <label for="">
        Max speed: <input type="number" name="maxSpeed" value="{{maxSpeed}}">
    </label>
    <button type="submit">Update</button>
</form>