<h2>Update the drone</h2>


<form action="/drones/{{id}}/edit" method="post">
    <label>Name</label>
    <input name="name" placeholder="{{name}}">

    <label>Number of propellers</label>
    <input  name="propellers" placeholder="{{propellers}}">

    <label>Max Speed</label>
    <input  name="maxSpeed" placeholder="{{maxSpeed}}">



    <button type="submit">Update</button>
</form>