<h2>Update the drone</h2>
<br />
<form action="/drones/{{_id}}/edit" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="text" name="name" id="name" value="{{name}}" />
  </div>

  <div class="mb-3">
    <label for="propellers" class="form-label">propellers</label>
    <input
      type="number"
      name="propellers"
      id="propellers"
      value="{{propellers}}"
    />
  </div>

  <div class="mb-3">
    <label for="maxSpeed" class="form-label">maxSpeed</label>
    <input
      type="number"
      name="maxSpeed"
      id="maxSpeed"
      min="0"
      value="{{maxSpeed}}"
    />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>