<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="post">

<label>
    <p>New Name</p>
    <input type="text" name="name" value="{{name}}">
</label>

<label>
    <p>New Propellers</p>
    <input type="number" name="propellers" value="{{propellers}}">
</label>

<label>
    <p>New Max Speed</p>
    <input type="number" name="maxSpeed" value="{{maxSpeed}}">
</label>

<br>
<input type="submit" value="Update Drone">

</form>