<h2>Update the drone</h2>
<form action="/drones/{{_id}}/edit" method="POST">
    <input type="text" value='{{name}}' name='name'>
    <input type="text" value='{{propellers}}' name='propellers'>
    <input type="text" value='{{maxSpeed}}' name='maxSpeed'>
    <button type='submit'>Submit</button>
</form>