<h2>Update the drone</h2>


<form action="/drones/{{id}}/edit" method="POST">
<label>
    Nombre
    <input type="text" name="name" value="{{name}}">
</label>
<label>
    Propulsores
    <input type="number" name="propellers" value="{{propellers}}">
</label>
<label>
    Velocidad maxima
    <input type="number" name="maxSpeed" value="{{maxSpeed}}">
</label>
<input type="submit" value="editar">
</form>