<h2>Update the drone</h2>

<form action="/drones/{{oneDrone.id}}/edit" method="POST">

<label> Name:
    <input type="text" name="name" value="{{oneDrone.name}}">
</label>
<br>
<label> Number of propellers:
    <input type="number" name="propellers" value="{{oneDrone.propellers}}">
</label>
<br>
<label> Max speed:
    <input type="number" name="maxSpeed" value="{{oneDrone.maxSpeed}}">
</label>
<br>
<button type='submit'>Save changes</button>

</form>