<h2>Update the drone</h2>
<form action="/drones/{{id}}/edit" method="POST">
    <label for="name">name:</label>
    <br/>
    <input type="text" name="name" value="{{name}}">
    <br/>
    <label for="propellers">propellers:</label>
    <br/>
    <input type="number" name="propellers"  value="{{propellers}}">
    <br/>
    <label for="speed">maxSpeed:</label>
    <br/>
    <input type="number" name="maxSpeed" value="{{maxSpeed}}">
    <br>
    <button type="submit" class="btn btn-outline-primary">
        UPDATE DRONE
    </button>
</form>