<h2>Update the drone</h2>
<form action="/drones/{{drone._id}}/edit" method="POST">

  <label for="name">Name</label>
  <input type="text" name="name" value="{{drone.name}}" />

  <label for="propellers">Propellers</label>
  <input type="number" name="propellers" min="1" value="{{drone.propellers}}" />

  <label for="maxSpeed">Max Speed</label>
  <input type="number" name="maxSpeed" min="1" value="{{drone.maxSpeed}}" />

  <button type="submit">Update the drone!</button>

</form>

<form action="/drones" method="GET">
  <button type="submit" class="btn btn-danger">See Drones</button>
</form>