<h2>Update the drone</h2>
<form action="/drones/{{_id}}/edit" method="POST">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="{{name}}" >
    </div>
    <div>
        <label>Propellers</label>
        <input type="text" name="propellers" value="{{propellers}}" >
    </div>
    <div>
        <label>Speed</label>
        <input type="text"  name="maxSpeed" value="{{maxSpeed}}" >
    </div>

    <button type="submit">Update</button>
</form>