<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name" value="{{name}}" />

  <label for="propellers">propellers</label>
  <input
    type="number"
    name="propellers"
    id="propellers"
    value="{{propellers}}"
  />

  <label for="maxSpeed">maxSpeed</label>
  <input
    type="number"
    name="maxSpeed"
    id="maxSpeed"
    min="0"
    value="{{maxSpeed}}"
  />

  <button type="submit">Update</button>
</form>