<h2>Update the drone</h2>

<form action="/drones/{{drone._id}}/edit" method="post">
<label>Name:
    <input type="text" name="name" value="{{drone.name}}"/>
    </label>
<label>Propellers:
    <input type="number" name="propellers" value="{{drone.propellers}}"/>
</label>
<label>MaxSpeed:
    <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}"/>
</label>
    <button type="submit">Save Changes</button>
</form>