<h2>Update the drone</h2>

<form method="POST" action="/drones/create">
    <label>Name</label>
    <input name="name" type="text" required>

    <label>Propellers</label>
    <input name="propellers" type="number">

    <label>Max Speed</label>
    <input name="maxSpeed" type="number">

    <button type="submit">Submit</button>

</form>