<h2>Update the drone</h2>



<form action="/drones/{{id}}/edit" method="POST">
    <div>
        <label for="name" >Name</label>
        <input type="text" id="name" name="name" value="{{name}}">
    </div>
    <div>
        <label for="propellers">Propellers</label>
        <input type="text" id="propellers" name="propellers" value="{{propellers}}" >
    </div>
    <div>
        <label for="maxSpeed">Speed</label>
        <input type="text" id="maxSpeed" name="maxSpeed" value="{{maxSpeed}}" >
    </div>
        <button type="submit"> Submit </button>

</form>


