<div class="Container-fluid d-flex flex-column ">
    <div class="p-2 d-flex justify-content-center">
        <h1 class="title-">Modify the drone !</h1>
    </div>  
        <div class="p-2 d-flex justify-content-center">
        <form action="/drones/{{_id}}/edit" method="post">

            <label for="name">Name:</label>
            <input type="text" name="name" id="name-input" value="{{this.name}}" />
            <br>
            <label for="propellers">Propellers Number:</label>
            <input type="number" name="propellers" id="propellers-input" value="{{this.propellers}}" />
            <br>
            <label for="maxSpeed">Maximum Speed:</label>
            <input type="number" name="maxSpeed" id="maxSpeed-input" value="{{this.maxSpeed}}" />
            <br>
            <button class="btn-list" type="submit">Update your Drone !</button>  

        </form>
    </div>
</div>

    

