<body id="create">
  {{>nav}}
  <div class="container-fluid ">
    <div class="row justify-content-center align-items-center">
      <div class="col-4 block">
        <h2>Update the drone</h2>

        <div class="form-container">
          <div class="container">
            <form action="/drones/{{_id}}/edit" method="POST">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="nameLabel">Name</label>
                    <input type="text" name="name" class="form-control" id="nameLabel" value="{{name}}">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="propellersLabel">Propellers</label>
                    <input type="number" name="propellers" class="form-control" id="propellersLabel"
                      value="{{propellers}}">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="maxSpeedLabel">Speed</label>
                    <input type="number" name="maxSpeed" class="form-control" id="maxSpeedLabel" value="{{maxSpeed}}">
                  </div>
                </div>
                <div class="col-6">
                  <label for="maxSpeedLabel"></label>
                  <button type="submit" class="btn btn-block btn-dark">Save</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{>footer}}
</body>