<h2>Update the drone</h2>
<form method="POST" action="/drones/{{drone._id}}/edit">
  <div class="form-group">
    <label for="DroneName">Name</label>
    <input name="name" type="text" class="form-control" id="DroneName" value="{{drone.name}}">
  </div>
  <div class="form-group">
    <label for="DronePropellers">Propellers</label>
    <input name="propellers" type="text" class="form-control" id="DronePropellers" value="{{drone.propellers}}">
  </div>
   <div class="form-group">
    <label for="DroneSpeed">MaxSpeed</label>
    <input name="maxSpeed" type="text" class="form-control" id="DroneSpeed" value="{{drone.maxSpeed}}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>