<h2>Update the drone</h2>
<form method="post" action="/update/{{drones._id}}">
    <p>
        <label for="">name</label>
        <input type="text" name="{{drones.name}}">
    </p>
    <p>
        <label for="">propellers</label>
        <input type="number" value="{{drones.propellers}}">
    </p>
    <p>
        <label for="">max speed</labl>
        <input type="number" value="{{drones.maxSpeed}}">
    </p>
</form>