<h2>Update the drone</h2>


<form action="/drones/{{_id}}/edit" method="POST">

    <div class="form-group w-25">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{name}}">
    </div>
    <br>
    <div class="form-group w-25">
        <label for="inputAddress">Propellers</label>
        <input type="text" class="form-control" id="inputAddress" name="propellers" value="{{propellers}}">
    </div>
    <br>
    <div class="form-group w-25">
        <label for="inputAddress2">Max Speed</label>
        <input type="text" class="form-control" id="inputAddress2" name="maxSpeed" value="{{maxSpeed}}">
    </div>


    <input type="submit" value="Update Drone">




</form>