<h1>Update the drone</h1>
<div class="form-div">
    <form action="/drones/{{id}}/edit" method="POST">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" value="{{name}}"/>
        <br>
        <label for="propellers">Propeller</label>
        <br>
        <input type="number" name="propellers" value="{{propellers}}" />
        <br>
        <label for="maxSpeed">Max Speed</label>
        <br>
        <input type="number" name="maxSpeed" value="{{maxSpeed}}" />
        <br>
    <button type="submit">Update it</button>
</form>
</div>