<h2>Update the drone</h2>





<form method="post">
    <label for="name">Name: </label>
    <input name="name" id="name" value="{{this.name}}">

    <label for="propellers">Propellers: </label>
    <input name="propellers" id="propellers" value="{{this.propellers}}">

    <label for="maxSpeed">Speed: </label>
    <input name="maxSpeed" id="maxSpeed" value="{{this.maxSpeed}}">

    <button type="submit">Edit an existing drone</button>
</form>