<h2>Update the drone</h2>

<form action="/drones/{{drone.id}}/edit" method="post" class="form">
    <label for="name-input">Name</label>
        <br>
    <input id="name-input" type="text" name="name" value="{{drone.name}}">
        <br>
    <label for="propellers-input">Number of propellers</label>
        <br>
    <input id="propellers-input" type="number" name="propellers" value="{{drone.propellers}}">
        <br>
    <label for="speed-input">Speed</label>
        <br>
    <input id="speed-input" type="number" name="maxSpeed" value="{{drone.maxSpeed}}">
        <br>
    <button type="submit">OK</button>
</form>

<a href="/drones">Back</a>
