<h2>Update the drone</h2>
<form action="/drones/{{drone._id}}/edit" method="POST">
  <label> Name of the Drone:
    <input type="text" name="name" value="{{drone.name}}" />
  </label>

  <label> Number of propellers:
    <input type="number" name="propellers" value="{{drone.propellers}}" />
  </label>

  <label> Max Speed:
    <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}" />
  </label>

  <button type="submit"> Create </button>
</form>