<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Editar drone</h1>

            <hr>

            <form action="/drones/update-form/{{id}}/edit" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="propellers" class="form-label">Propellers</label>
                    <input type="number" class="form-control" id="propellers" name="propellers" value="{{propellers}}">
                </div>

                <div class="mb-3">
                    <label for="maxSpeed" class="form-label">maxSpeed</label>
                    <input type="number" class="form-control" id="maxSpeed" name="maxSpeed" value="{{maxSpeed}}">
                </div>

                <button type="submit" class="btn btn-dark">Editar drone</button>
            </form>

        </div>
    </div>


</div>