<h2>Update the drone</h2>
<form action="/drones/{{_id}}/edit" method="post">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" value="{{name}}" />

  <label for="propellers-input">Propellers:</label>
  <input type="number" name="propellers" id="propellers-input" min="1" value="{{propellers}}" />

  <label for="speed-input">Max Speed:</label>
  <input type="number" name="speed" id="speed-input" min="1" value="{{maxSpeed}}" />

  <button type="submit">Save drone</button>

</form>