<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <h2 class="mb-3 p-2">Update drone</h2>
            <form class="border" action="/drones/{{drone.id}}/edit" method="POST" style="width: 20rem;">
                <div class="mb-3 p-2">
                    <div class="form-group">
                        <label >Model name</label>
                        <input name="name" type="text" class="form-control mb-1" value="{{drone.name}}">
                    </div>
                    <div class="form-group">
                        <label >Number of propellers</label>
                        <input name="propellers" type="text" class="form-control mb-1" value="{{drone.propellers}}">
                    </div>
                    <div class="form-group">
                        <label >Max Speed</label>
                        <input name="maxSpeed" type="text" class="form-control mb-1" value="{{drone.maxSpeed}}">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark m-1">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>