<a href="/drones" class="go-back">Go back</a>

<h2 class="h2">Update the drone</h2>

<div class="container">
  <div class="row">
    <div class="col-12">
  
      <form action="/drones/{{this.id}}/edit" method="post">
        <div class="drone-form">
          <label for="name">Drone's Name: </label>
          <input type="text" name="name" value="{{name}}">
        
          <label for="propellers">Number of propellers: </label>
          <input type="number" name="propellers" value="{{propellers}}">
        
          <label for="maxSpeed">Max Speed: </label>
          <input type="number" name="maxSpeed" value="{{maxSpeed}}">
        
          <button type="submit" class="all-buttons"> Edit drone</button>
        </div>
        
        </form>
    </div>

  </div>
</div>




