<h2>Update the drone</h2>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">



            <hr>

            <form action="/drones/:id/edit" method="POST">
                <div class="mb-3">
                    <label for="tit" class="form-label">name</label>
                    <input type="text" class="form-control" id="tit" name="title">
                </div>