<h2>Update the drone</h2>
<form action='/drones/{{drone._id}}/edit' method='post'>
  <label for='name'>name</label>
  <input type='text' name='name' id='{{drone.name}}' />

  <label for='propellers'>propellers</label>
  <input type='number' name='propellers' id='{{drone.propellers}}' />

  <label for='maxSpeed'>maxSpeed</label>
  <input type='number' name='maxSpeed' id='{{drone.maxSpeed}}' />

  

  <button type='submit'>Submit</button>
</form>