
<h2>Update drone</h2>
<form action="/drones/{{_id}}/edit" method="POST">
    <input type="text" required name="name" placeholder="Name of the drone" value="{{name}}">
    <input type="text" name="propellers" placeholder="Propellers" value={{propellers}}>
    <input type="text" name="maxSpeed" placeholder="Maximum speed" value={{maxSpeed}}>
    <button type="submit">Update drone!</button>
</form>
