<h2>Update the drone</h2>
<form method="POST" action="/drones/{{drone._id}}/edit">
  <div class="form-group">
    <label for="todoName">Name</label>
    <input value="{{drone.name}}"name="name" type="text" class="form-control" id="todoName" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="todoDesc">Propellers</label>
    <input value="{{drone.propellers}}"name="propellers" type="text" class="form-control" id="todoDesc">
  </div>
    <div class="form-group">
    <label for="todoDesc">maxSpeed</label>
    <input value="{{drone.maxSpeed}}" name="maxSpeed" type="text" class="form-control" id="todoDesc">
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>