<form method="POST" action="/drones/{{this._id}}/edit">
    <h2>Edit the drone</h2>
    <div class="form-group">
        <label for="drone-form">Name</label>
        <input name="name" type="text" class="form-control" id="name" value="{{this.name}}">
        <small id="name" class="form-text text-muted">Droney McDrone</small>
    </div>

    <div class="form-group">
        <label for="propellers">Propellers</label>
        <input name="propellers" type="number" class="form-control" id="propellers" value="{{this.propellers}}">
    </div>

    <div class="form-group">
        <label for="maxSpeed">Maximum Speed</label>
        <input name="maxSpeed" type="number" class="form-control" id="maxSpeed" value="{{this.maxSpeed}}">
    </div>

    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>