<h2>Update the drone</h2>

<form action="/drones/{{results._id}}/edit" method="POST">
<input type="text" name="name" id="name" placeholder="name of drone" value="{{results.name}}">
<input type="text" name="propellers" id="propellers" placeholder="number of propellers" value="{{results.propellers}}">
<input type="text" name="maxSpeed" id="maxSpeed" placeholder="max speed" value="{{results.maxSpeed}}">
<button type="submit">Update drone</button>
</form>