<h2>Update the drone</h2>
<form action="/drones/{{id}}/edit" method="POST">
    <label for="name">Name:</label>
    <br>
    <input type="text" id="name" name="name" value="{{name}}">
    <br>
    <label for="propellers">Propellers:</label>
    <br>
    <input type="number" id="propellers" name="propellers" value="{{propellers}}">
    <br>
    <label for="maxSpeed">Max Speed:</label>
    <br>
    <input type="number" id="maxSpeed" name="maxSpeed" value="{{maxSpeed}}">
    <br>
    <button type="submit">Update Drone:</button>
</form>