<h2>Update the drone</h2>
<br>
<div>
    <form action="/drones/{{ drone._id }}/edit" method="post">
    <label for="nameInput">Drone name: <input id="nameInput" type="text" name="name" value="{{ drone.name }}"></label><br>
    <label for="propellersInput">Number of propellors: <input id="propellersInput" type="text" name="propellers" value="{{ drone.propellers }}"></label><br>
    <label for="maxSpeed">Max speed: <input id="maxSpeed" type="text" name="maxSpeed" value="{{ drone.maxSpeed }}"></label><br>
    <button>Update drone</button>
    </form> 
</div>