<h2>Update the drone</h2>

<form method="post" action="/drones/{{this.id}}/edit">
  <label>Dron Name:
    <input type="text" name="name" value="{{this.name}}" />
  </label>
  <br />
  <br />

  <label>Propellers:
    <input
      type="number"
      name="propellers"
      min="1"
      value="{{this.propellers}}"
    />
  </label>
  <br />
  <br />

  <label>Max Speed:
    <input type="number" name="maxSpeed" min="1" value="{{this.maxSpeed}}" />
  </label>
  <br />
  <br />

  <button type="submit">Update Drone</button>
</form>