<h2>Update the drone</h2>

 
<form action="/{{drone.id}}/edit" method="POST">
  <label>
    Name:
    <input type="text" name="name" value="{{drone.name}}" />
  </label>
  
  <label>
    Propellers:
    <input type="text" name="propellers" value="{{drone.propellers}}" />
  </label>

  <label>
    Speed:
    <input type="text" name="maxSpeed" value="{{drone.maxSpeed}}" />
  </label>

  <button>Save changes</button>
</form>
</section>