<div class="update-drone">
    <h2>Update the drone</h2>
    
    <form action="/drones/{{_id}}/edit" method="POST">
        <label>
            Name:
            <input type="text" name="name" value="{{name}}">
        </label>
    
        <label>
            Propellers:
            <input type="number" name="propellers" value="{{propellers}}">
        </label>
    
        <label>
            Max speed:
            <input type="number" name="maxSpeed" value="{{maxSpeed}}">
        </label>
    
        <input class="edit-list" type="submit" value="Edit Drone">
    </form>
    
</div>
