<div class="container">
    <h2>Update the drone</h2>
    <hr class="mb-5">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <form action="/drones/{{_id}}/edit" method="POST">
                <div class="mb-3 mt-5">
                    <label for="name" class="form-label">Model</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="propellers" class="form-label">Propellers</label>
                    <input type="number" class="form-control" id="propellers" name="propellers" value="{{propellers}}">
                </div>

                <div class="mb-3 ">
                    <label for="maxSpeed" class="form-label">Max Speed</label>
                    <input type="number" class="form-control" id="maxSpeed" name="maxSpeed" value="{{maxSpeed}}">
                </div>


                <button type="submit" class="btn btn-dark">Save edit</button>
            </form>

        </div>
    </div>

</div>