<h2>Update the drone</h2>

<form class="form" method="post" action="/drones/{{drone.id}}/edit">

<label for="name">Name</label>
<input type="text" name="name" id="name" value="{{drone.name}}">

<label for="propellers">Propellers</label>
<input type="number" name="propellers" id="propellers" value="{{drone.propellers}}" >

<label for="maxSpeed">Maximum speed</label>
<input type="number" name="maxSpeed" id="maxSpeed" value="{{drone.maxSpeed}}">

<button>Update</button>

</form>