<h2>Update the drone</h2>


<form action="/drones/{{_id}}/edit" method="post">
 

  <label for="title-input">Name:</label>
  <input type="text" name="name" id="title-input" value="{{name}}"/>
 
  <label for="propellers-input">Propellers:</label>
  <input type="text" name="propellers" id="propellers-input" value="{{propellers}}"/>
 
  <label for="speed-input">MaxSpeed:</label>
  <input type="number" name="maxSpeed" id="speed-input" min="1" max="30" value="{{maxSpeed}}" />
 
  <button type="submit">Create</button>
 
</form>