<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="POST">
  <label> Name:
    <input type="text" name="name" value="{{name}}" />
  </label>

  <label> Propellers:
    <input type="text" name="propellers" value="{{propellers}}" />
  </label>

    <label> Max Speed:
    <input type="number" name="maxSpeed" value="{{maxSpeed}}" />
  
  </label>

  <button>Update</button>
</form>