<h2>Update the drone</h2>
<form action ="/drones/{{_id}}/edit" method="post">
    <label>
        Name:
        <input name="name" type="text">
    </label>
    <label>
        Propellers:
        <input name="propellers" type="number">
    </label>
    <label>
        Max Speed:
        <input name="maxSpeed" type="number">
    </label>

    <button type="submit"> Save Changes</button>
    </form>