<h2>Update the drone</h2>

<form class="form" action="/drones/{{id}}/edit" method="POST">
  <label> Name:
    <input type="text" name="name" value="{{name}}" />
  </label>

  <label> Propellers:
    <input type="number" name="propellers" value="{{propellers}}" />
  </label>

  <label> Maximum Speed:
    <input type="number" name="maxSpeed" value="{{maxSpeed}}"/>
  </label>
  <button type="submit"> Save </button>
</form>