<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="post">
    <label for="name">Drone's Name:</label>
    <input type="text" name="name" placeholder="{{name}}">

    <label for="propellers">Number of propellers:</label>
    <input type="text" name="propellers" placeholder="{{propellers}}">

    <label for="maxspeed">Max speed:</label>
    <input type="number" name="maxSpeed" placeholder="{{maxSpeed}}">

    <button type="submit">Edit</button>


</form>