<h2>Update the drone: {{droneToEdit}}</h2>

<form action="/drones/{{droneToEdit.id}}/edit" method="post">

<label>

    Name:
    <input type="text" name="name">

</label>
<label>

    Propellers:
    <input type="number" name="propellers">

</label>
<label>

    Maximum Speed:
    <input type="number" name="maxSpeed">

</label>

<button type="submit">Submit changes</button>

</form>