<h2>Update the drone</h2>

<form action="/drones/{{id}}/edit" method="POST">
  <label> Name:
    <input type="text" name="name" value="{{name}}" />
  </label>

  <label> Propellers:
    <input type="number" name="propellers" value="{{propellers}}" />
  </label>

  <label> Max speed:
    <input type="number" name="maxSpeed" value="{{maxSpeed}}" />
  </label>

  <button type="submit"> Save drone </button>
</form>