<h2>Update the drone</h2>
<form action="/drones/{{dron.id}}/edit" method="POST">

<label>
    Name:
    <input type="text" name="name" value="{{dron.name}}" />
  </label>

  <label>
    Propellers:
    <input type="text" name="propellers" value="{{dron.propellers}}" />
  </label>

  <label>
    Max Speed:
    <input type="text" name="maxSpeed" value="{{dron.maxSpeed}}" />
  </label>
<button type="submit">Save changes</button>
</form>