<h2>Update the drone</h2>

<form method="POST" action="/drones/{{drones._id}}/edit">
    <label> Name:
        <input type="text" name="name" value="{{drones.name}}" />
    </label>

    <label> Propellers:
        <input type="text" name="propellers" value="{{drones.propellers}}" />
    </label>

    <label> Max. Speed:
       <input type="text" name="maxSpeed" value="{{drones.maxSpeed}}" />
    </label>

    <button>Save changes</button>
</form>