<div class="drones">
    <h2>Update the drone</h2>

    <form action="/drones/{{drone._id}}/edit" method="POST">
        <label for="name"><b>Name:</b></label>
        <input type="text" name="name" id="name" value="{{drone.name}}" />

        
        <label for="propellers"><b>Propellers:</b></label>
        <input type="text" name="propellers" id="propellers" value=""{{drone.propellers}} />

       
        <label for="maxSpeed"><b>Max Speed:</b></label>
        <input type="text" name="maxSpeed" id="maxSpeed" value="{{drone.maxSpeed}}" />
        
        <button type="submit">Update</button>
    </form
</div>