
<h2>EDIT YOUR DRONES</h2>

<div class="container">
  <div class="row">
    <div class="col">
    
<form method="POST" action="/drones/create">

  <div class="mb-3">
    <label class="form-label" >Name</label>
    <input class="form-control" type="text" name="name" value="{{drone.name}}">
    <br>
    <label class="form-label" >Propellers</label>
    <input class="form-control" type="text" name="propellers" value="{{drone.propellers}}">
    <br>
     <label class="form-label" >maxSpeed</label>
    <input class="form-control" type="text" name="maxSpeed" value="{{drone.maxSpeed}}">
    <br>
    <button class="btn btn-primary" type="submit">DONE</button>
  </div>
  
</form>