<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h2>Modificar drone</h2>
            <hr>

            <form action="/drones/{{_id}}/edit" method="POST">

                <div class="mb-3">
                    <label for="field1" class="form-label">Nombre Drone</label>
                    <input type="text" class="form-control" id="field1" name="name" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="field2" class="form-label">Hélices</label>
                    <input type="text" class="form-control" id="field2" name="propellers" value="{{propellers}}">
                </div>

                <div class="mb-3">
                    <label for="field3" class="form-label">Velocidad Máxima</label>
                    <input type="number" class="form-control" id="field3" name="maxSpeed" value="{{maxSpeed}}">
                </div>


                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Guardar Drone</button>
                </div>
            </form>
        </div>
    </div>

</div>