<h2>Update the drone</h2>

<form action="/drones/{{this._id}}/edit" method="post">

<label>
Name
<input type="text" id="name" name="name" value="{{this.name}}">
</label>

<label>
Number of propellers
<input type="number" id="propellers" name="propellers" value="{{this.propellers}}">
</label>

<label>
Max speed 
<input type="number" id="maxSpeed" name="maxSpeed" value="{{this.maxSpeed}}">
</label>

<button type="submit">Update</button>
</form>