<h1>Update the drone</h1>

<hr>

<form action="/drones/{{_id}}/edit" method="POST">
    <div class="mb-3">
        <label for="nam" class="form-label">Name</label>
        <input type="text" class="form-control" id="nam" name="name" value="{{name}}">
    </div>

    <div class="mb-3">
        <label for="prop" class="form-label">Propellers</label>
        <input type="number" class="form-control" id="prop" name="propellers" value="{{propellers}}">
    </div>

    <div class="mb-3">
        <label for="spe" class="form-label">maxSpeed</label>
        <input type="number" class="form-control" id="spe" name="maxSpeed" value="{{maxSpeed}}">
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Editar drone</button>
    </div>
</form>