<h2>Update the drone</h2>

<form class="forms" method="POST" action="/drones/{{drone.id}}/edit">
    <label>Name:
        <input type="text" name="name" value = "{{drone.name}}"/>
    </label>
    <label>Propellers:
        <input type="number" name="propellers" value = "{{drone.propellers}}"/>
    </label>
    <label>Max Speed:
        <input type="number" name="maxSpeed" value = "{{drone.maxSpeed}}"/>
    </label>
    <button type="submit">Save Changes</button>
</form>