<h2>Update the drone</h2>
<div class="form">
    <form action="/drones/{{_id}}/edit" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" value={{name}}>
        </div>
        <div>
            <label for="propellers">Propellers</label>
            <input type="number" name="propellers" value={{propellers}}>
        </div>
        <div>
            <label for="maxSpeed">Max Speed (meters per second)</label>
            <input type="number" name="maxSpeed" value={{maxSpeed}}>
        </div>
        <div>
            <button type="submit">Edit drone</button>
        </div>
    </form>
</div>
