<h2>Update the drone</h2>

<form action="/drones/{{this.id}}/edit" method="POST">
<label>
    Name:
    <input type="text" name="name" value="{{this.name}}">
</label>

<label>
    Propellers:
    <input type="number" name="propellers" value="{{this.propellers}}">
</label>

<label>
    Speed:
    <input type="number" name="maxSpeed" value="{{this.maxSpeed}}">
</label>
<button type="submit">Update drone</button>
</form>