<form action="/drones/{{_id}}/edit" method="POST">
    <label> Drone Name
        <input type="text" name="name" value="{{name}}">
    </label>

    <label> Number of Propellers
        <input type="number" name="propellers" value="{{propellers}}" >
    </label>

    <label> Max Speed
        <input type="number" name="maxSpeed" value="{{maxSpeed}}">
    </label>

    <button type="submit"> Update Info </button>
</form> 