<h2>Update the drone</h2>

<form method="POST" action="/drones/create">
    <label>Name</label>
    <input type="text" name="name" required>

    <label>Propellers</label>
    <input type="number" name="propellers">

    <label>Max Speed</label>
    <input type="number" name="maxSpeed">

    <button type="submit"> Submit</button>
</form>