<h2>Update the drone</h2>
<form action="/drones/{{drones.id}}/edit" method="post">

  <label> Name:
    <input type="text" name="name" value="{{drones.name}}" />
  </label>
 
  <label> Propellers:
    <input type="number" name="propellers" value="{{drones.propellers}}"/>
  </label>
 
  <label> Max Speed:
    <input name="maxSpeed"  type="number" value="{{drones.maxSpeed}}"  />
  </label>
 
 
  <button type="submit"> Update </button>
</form>
