<h2>Update the drone</h2>


<form action="/drones/{{drone.id}}/edit" method="POST">
  <label> Name:
    <input type="text" name="name" value="{{drone.name}}" />
  </label>

  <label> No. of Propellers:
    <input type="number" name="propellers" value="{{drone.propellers}}" />
  </label>

  <label> Max Speed:
    <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}"  />
  </label>

  <button type="submit"> Create Drone </button>
</form>