<h2>Update the drone</h2>

<form method="post" action="/drones/{{drone._id}}/edit" class="form">
    <label class="label" for="name" class="label">Name</label>
    <input class="input" type="text" id="name" name="name" placeholder="Drone's name" value={{drone.name}} required>

    <label class="label" for="propellers" class="label">Number of propellers</label>
    <input class="input" type="text" id="propellers" name="propellers" value={{drone.propellers}} required>

    <label class="label" for="maxSpeed" class="label">Maximum Speed (meters / second)</label>
    <input class="input" type="text" id="maxSpeed" name="maxSpeed" value={{drone.maxSpeed}} required>

    <button class="btn">Update drone</button>
</form>